Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2018-08, with the labels that each got.

#1948 Second pass at image refactoring
  documentation/sphinx/source/concepts.rst
  scripts/isct_warpmovie_generator.py
  scripts/msct_gmseg_utils.py
  scripts/msct_image.py
  scripts/msct_moco.py
  scripts/msct_shape.py
  scripts/msct_types.py
  scripts/sct_analyze_lesion.py
  scripts/sct_analyze_texture.py
  scripts/sct_apply_transfo.py
  scripts/sct_compute_hausdorff_distance.py
  scripts/sct_compute_mtr.py
  scripts/sct_compute_snr.py
  scripts/sct_convert.py
  scripts/sct_create_mask.py
  scripts/sct_crop_image.py
  scripts/sct_deepseg_lesion.py
  scripts/sct_deepseg_sc.py
  scripts/sct_detect_pmj.py
  scripts/sct_dice_coefficient.py
  scripts/sct_dmri_compute_dti.py
  scripts/sct_dmri_moco.py
  scripts/sct_dmri_separate_b0_and_dwi.py
  scripts/sct_extract_metric.py
  scripts/sct_flatten_sagittal.py
  scripts/sct_fmri_compute_tsnr.py
  scripts/sct_fmri_moco.py
  scripts/sct_get_centerline.py
  scripts/sct_image.py
  scripts/sct_invert_image.py
  scripts/sct_label_utils.py
  scripts/sct_label_vertebrae.py
  scripts/sct_maths.py
  scripts/sct_merge_images.py
  scripts/sct_process_segmentation.py
  scripts/sct_propseg.py
  scripts/sct_register_graymatter.py
  scripts/sct_register_multimodal.py
  scripts/sct_register_to_template.py
  scripts/sct_segment_graymatter.py
  scripts/sct_smooth_spinalcord.py
  scripts/sct_straighten_spinalcord.py
  scripts/sct_testing.py
  scripts/sct_utils.py
  scripts/sct_viewer.py
  spinalcordtoolbox/centerline/optic.py
  spinalcordtoolbox/gui/base.py
  spinalcordtoolbox/gui/cli.py
  spinalcordtoolbox/mtsat/mtsat.py
  spinalcordtoolbox/reports/slice.py
  testing/test_sct_apply_transfo.py
  testing/test_sct_get_centerline.py
  testing/test_sct_register_multimodal.py
  testing/test_sct_register_to_template.py
  unit_testing/test_image.py
  unit_testing/test_transfo.py
Labels: enhancement, msct_image

#1997 Updated URL for PAM50
  scripts/sct_download_data.py
Labels: bug, sct_extract_metric

#2000 sct_apply_transfo: fixup image check for something that could be something else than an image
  scripts/sct_apply_transfo.py
  testing/test_sct_register_to_template.py
Labels: bug

#2008 Few fixes in sct_extract_metric and batch processing outputs
  batch_processing.sh
  scripts/sct_extract_metric.py
Labels: enhancement, priority:HIGH, sct_extract_metric
