Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2018-11, with the labels that each got.

#2060 sct_deepseg_sc/lesion -- ValueError and IndexError fixes
  scripts/sct_deepseg_lesion.py
  scripts/sct_deepseg_sc.py
Labels: bug, card:TO_REVIEW, sct_deepseg_lesion, sct_deepseg_sc

#2068 sct_label_vertebrae: Fixed path issue when using -initlabel flag
  scripts/sct_label_vertebrae.py
Labels: bug, sct_label_vertebrae

#2070 sct_flatten_sagittal: Fixes bug related to image scaling
  scripts/sct_flatten_sagittal.py
Labels: bug, sct_flatten_sagittal

#2073 sct_smooth_spinalcord: Enable to set smoothing parameters in all axes
  scripts/sct_maths.py
  scripts/sct_smooth_spinalcord.py
  testing/test_sct_smooth_spinalcord.py
Labels: compatibility, feature, sct_smooth_spinalcord

#2077 Few improvements on automatic Changelog generation
  CONTRIBUTING.rst
  install/sct_changelog.py
Labels: documentation, sct_changelog

#2075 sct_dmri_separate_b0_and_dwi: Now append suffix to input file name to prevent conflicts
  scripts/sct_dmri_moco.py
  scripts/sct_dmri_separate_b0_and_dwi.py
  testing/test_sct_dmri_separate_b0_and_dwi.py
Labels: compatibility, feature, sct_dmri_separate_b0_and_dwi

#2080 Now possible to output SNR map, removed requirement for inputing mask, and few other improvements
  scripts/sct_compute_snr.py
  testing/test_sct_compute_snr.py
Labels: compatibility, feature, sct_compute_snr

#2087 Fixed bug in method max
  scripts/sct_extract_metric.py
Labels: bug, sct_extract_metric
