Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2018-10, with the labels that each got.

#2020 sct_deepseg_sc/lesion: allow to input manual or semi manual centerline
  scripts/sct_deepseg_lesion.py
  scripts/sct_deepseg_sc.py
Labels: card:TO_REVIEW, sct_deepseg_lesion, sct_deepseg_sc

#2022 sct_fmri_moco: Generalize motion correction for sagittal acquisitions and other improvements
  .gitignore
  scripts/msct_moco.py
  scripts/sct_dmri_moco.py
  scripts/sct_fmri_moco.py
  scripts/sct_image.py
  scripts/sct_maths.py
  scripts/sct_utils.py
Labels: enhancement, sct_fmri_moco

#2035 sct_get_centerline: use the new viewer
  scripts/sct_deepseg_sc.py
  scripts/sct_get_centerline.py
  scripts/sct_process_segmentation.py
Labels: card:TO_REVIEW, enhancement, sct_get_centerline

#2039 sct_propseg: Reordered variable assignment
  scripts/sct_get_centerline.py
  scripts/sct_propseg.py
Labels: bug, sct_propseg

#2042 msct_nurbs: fixes singular matrix error
  scripts/msct_nurbs.py
  scripts/msct_smooth.py
  scripts/sct_get_centerline.py
  scripts/sct_process_segmentation.py
Labels: bug, msct_nurbs

#2047 sct_fmri_moco: Fixed regression bug related to the use of a mask
  scripts/msct_moco.py
  scripts/sct_fmri_moco.py
Labels: bug, sct_dmri_moco, sct_fmri_moco

#2049 sct_extract_metric: Do not zero negative values
  batch_processing.sh
  scripts/sct_extract_metric.py
  testing/test_sct_extract_metric.py
Labels: enhancement, sct_extract_metric
