Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2018-05, with the labels that each got.

#1694 Keep intermediate temp folder by default
  scripts/msct_register.py
  scripts/sct_register_to_template.py
Labels: card:TO_REVIEW, sct_register_multimodal, sct_register_to_template

#1672 Implements MTsat function
  scripts/sct_compute_mtsat.py
  scripts/sct_utils.py
  spinalcordtoolbox/mtsat/__init__.py
  spinalcordtoolbox/mtsat/mtsat.py
Labels: card:TO_REVIEW, feature, sct_compute_mtsat

#1676 Refactor things dealing with dataset `info_label.txt` metadata file
  scripts/isct_get_fractional_volume.py
  scripts/sct_check_atlas_integrity.py
  scripts/sct_extract_metric.py
  scripts/sct_label_vertebrae.py
  scripts/sct_make_ground_truth.py
  scripts/sct_register_to_template.py
  scripts/sct_warp_template.py
  spinalcordtoolbox/metadata.py
  testing/test_sct_segment_graymatter.py
  testing/test_sct_warp_template.py
  unit_testing.sh
  unit_testing/test_metadata.py
Labels: card:TO_REVIEW

#1684 Control the brightness of the image in the GUI.
  scripts/sct_label_vertebrae.py
  spinalcordtoolbox/gui/base.py
  spinalcordtoolbox/gui/centerline.py
  spinalcordtoolbox/gui/sagittal.py
  spinalcordtoolbox/gui/widgets.py
Labels: feature

#1703 Fixes after testing on several distributions
  install/install_dependencies_with_workarounds.py
  install/tf_distro_check.py
  install_sct
  scripts/sct_check_dependencies.py
  scripts/sct_config.py
  scripts/sct_pipeline.py
  scripts/sct_utils.py
Labels: card:TO_REVIEW

#1711 Fixed re-use of the same figure during QC generation
  scripts/sct_register_to_template.py
  spinalcordtoolbox/reports/qc.py
Labels: bug, sct_qc, sct_register_to_template

#1712 Add a flag to display message on the GUI for labeling
  scripts/msct_parser.py
  scripts/sct_label_utils.py
Labels: enhancement, sct_label_utils

#1736 Improved doc and minor fixes with centerline fitting
  scripts/sct_flatten_sagittal.py
Labels: sct_flatten_sagittal

#1735 Make sct_process_segmentation compatible with the new ldisc convention
  scripts/sct_label_vertebrae.py
  scripts/sct_process_segmentation.py
Labels: sct_process_segmentation

#1757 Adding volume-wise standardization normalization for the sct_deepseg_gm
  spinalcordtoolbox/deepseg_gm/deepseg_gm.py
  unit_testing/test_deepseg_gm.py
Labels: enhancement, sct_deepseg_gm

#1746 Make sct_get_centerline robust to intensities ∈ [0, 1]
  README.md
  scripts/msct_image.py
  scripts/sct_deepseg_sc.py
  scripts/sct_get_centerline.py
  spinalcordtoolbox/centerline/optic.py
Labels: sct_get_centerline

#1776 Fixed unassigned variable
  scripts/sct_compute_mtsat.py
  spinalcordtoolbox/mtsat/mtsat.py
Labels: bug, sct_compute_mtsat
