Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2018-07, with the labels that each got.

#1875 sct_extract_metric: Now possible to calculate metrics slice-wise or level-wise
  scripts/sct_extract_metric.py
  scripts/sct_utils.py
  spinalcordtoolbox/metadata.py
  spinalcordtoolbox/template.py
  spinalcordtoolbox/utils.py
  testing/test_sct_segment_graymatter.py
Labels: enhancement, priority:HIGH, sct_extract_metric

#1881 Local language support (LC_ALL) added to installation& launcher on macOS
  install/sct_launcher
  install_sct
Labels: installation, priority:HIGH

#1904 Removed sct_register_graymatter (obsolete old code) from sct_testing functions
  scripts/sct_testing.py
Labels: bug, sct_testing

#1882 sct_flatten_sagittal: Fixed wrong indexation
  scripts/sct_flatten_sagittal.py
Labels: bug, sct_flatten_sagittal

#1908 Lazy loading for the deepseg_gm module
  scripts/sct_deepseg_gm.py
Labels: enhancement

#1903 sct_propseg: Now possible to rescale data header to be able to segment non-human spinal cord (mice, rats, etc.)
  scripts/sct_image.py
  scripts/sct_propseg.py
  spinalcordtoolbox/gui/centerline.py
Labels: enhancement, priority:HIGH, sct_propseg

#1927 documentation: overhaul of the docs about contribution
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  CONTRIBUTING.rst
  documentation/sphinx/source/development.rst
Labels: documentation, enhancement

#1946 Make use of Github's new issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CONTRIBUTING.rst
Labels: enhancement, meta

#1924 Adding a batch size of 4 for all deep learning methods.
  scripts/sct_deepseg_lesion.py
  scripts/sct_deepseg_sc.py
  spinalcordtoolbox/deepseg_gm/deepseg_gm.py
Labels: enhancement, sct_deepseg_gm, sct_deepseg_lesion, sct_deepseg_sc

#1955 Enable single-label with -l flag
  scripts/sct_register_to_template.py
Labels: feature, sct_register_to_template

#1957 testing: add ability to abort on failure (and use it on Travis) or to resume from a certain point
  .travis.yml
  scripts/sct_testing.py
Labels: enhancement, testing, travis

#1956 Totally pimp the Image Slicer (to act like a sequence, to slice many images), and add unit tests for the slicer
  scripts/msct_image.py
  unit_testing/test_image.py
Labels: enhancement

#1972 sct_propseg: add lightweight Python API (#1966)
  scripts/sct_propseg.py
Labels: enhancement, sct_propseg

#1975 sct_dmri_compute_dti: Output tensor eigenvectors
  scripts/sct_dmri_compute_dti.py
Labels: enhancement, sct_dmri_compute_dti
