Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2018-09, with the labels that each got.

#2012 sct_deepseg_sc, sct_deepseg_lesion: Allow to input image with one axial slice
  scripts/sct_deepseg_lesion.py
  scripts/sct_deepseg_sc.py
Labels: card:TO_REVIEW, sct_deepseg_lesion, sct_deepseg_sc

#2026 sct_straighten_spinalcord: Fixed AttributeError related to conversion of numpy array to list
  scripts/sct_straighten_spinalcord.py
Labels: bug, card:TO_REVIEW, sct_straighten_spinalcord

#2021 sct_create_mask: Few fixes and improvements
  scripts/sct_create_mask.py
Labels: bug, sct_create_mask
