Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2018-12, with the labels that each got.

#2089 QC now scales images based on physical dimensions (previously based on voxels)
  scripts/sct_deepseg_gm.py
  scripts/sct_deepseg_sc.py
  scripts/sct_label_vertebrae.py
  scripts/sct_propseg.py
  spinalcordtoolbox/image.py
  spinalcordtoolbox/reports/assets/_assets/css/style.css
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/reports/slice.py
  spinalcordtoolbox/resample/nipy_resample.py
Labels: enhancement, sct_qc

#2084 spinalcordtoolbox/vertebrae/detect_c2c3 -- New module
  .travis.yml
  dev/detect_c2c3/config_file.py
  dev/detect_c2c3/train.py
  install_sct
  scripts/sct_download_data.py
  scripts/sct_flatten_sagittal.py
  scripts/sct_label_vertebrae.py
  spinalcordtoolbox/vertebrae/__init__.py
  spinalcordtoolbox/vertebrae/detect_c2c3.py
Labels: card:TO_REVIEW, feature, sct_label_vertebrae

#2097 Various improvements
  spinalcordtoolbox/reports/assets/_assets/js/main.js
  spinalcordtoolbox/reports/assets/index.html
  spinalcordtoolbox/reports/qc.py
Labels: enhancement, sct_qc

#2101 Now possible to specify the type of algorithm used for cord straightening
  scripts/sct_register_to_template.py
Labels: feature, sct_register_to_template

#2102 Updated PAM50 template header to be in the same coordinate system as the MNI template
  scripts/sct_download_data.py
Labels: compatibility, enhancement, sct_register_to_template

#2105 batch_processing: Fix regression bug
  batch_processing.sh
Labels: bug

#2107 Updated documention on how to create vertebral and disc labels
  README.md
  scripts/sct_label_vertebrae.py
  scripts/sct_register_to_template.py
Labels: do not merge, documentation, sct_label_vertebrae
