Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2018-04, with the labels that each got.

#1662 Integration of pytest and unit testing for deepseg_gm module
  .travis.yml
  install/requirements/requirementsSetup.txt
  unit_testing.sh
  unit_testing/test_deepseg_gm.py
Labels: testing

#1593 ZSH support
  install/sct_env
Labels: priority:MEDIUM

#1649 Set “MeanSquares” the default metric for sct_fmri_moco
  scripts/sct_fmri_moco.py
Labels: enhancement, sct_fmri_moco

#1668 The QC report is now a standalone html file.
  batch_processing.sh
  scripts/sct_deepseg_gm.py
  scripts/sct_deepseg_sc.py
  scripts/sct_label_vertebrae.py
  scripts/sct_propseg.py
  scripts/sct_qc.py
  scripts/sct_register_to_template.py
  scripts/sct_segment_graymatter.py
  spinalcordtoolbox/reports/assets/_assets/css/style.css
  spinalcordtoolbox/reports/assets/_assets/js/main.js
  spinalcordtoolbox/reports/assets/index.html
  spinalcordtoolbox/reports/qc.py
Labels: card:TO_REVIEW, enhancement, sct_qc

#1511 Rearranged the imports and removed the cyclic imports.
  scripts/msct_image.py
  scripts/sct_image.py
Labels: card:TO_REVIEW, enhancement

#1587 Use python concurrent.futures instead of multiprocessing
  install/requirements/requirementsConda.txt
  install/requirements/requirementsMPI.txt
  install/requirements/requirementsPip.txt
  install/requirements/requirementsSetup.txt
  install_sct
  scripts/sct_check_dependencies.py
  scripts/sct_pipeline.py
  scripts/sct_testing.py
  scripts/sct_utils.py
  spinalcordtoolbox/resample/nipy_resample.py
  testing/test_sct_label_utils.py
Labels: fix:major, sct_pipeline

#1698 Enable input file with label at a specific disc
  scripts/sct_label_vertebrae.py
Labels: card:TO_REVIEW, feature, sct_label_vertebrae

#1692 Concatenate string to keep previously assigned subtitle field
  spinalcordtoolbox/gui/sagittal.py
Labels: card:TO_REVIEW, sct_label_vertebrae

#1706 sct_deepseg_sc - Issue when input is .nii instead of .nii.gz
  scripts/sct_deepseg_sc.py
Labels: card:TO_REVIEW, sct_deepseg_sc, upstream
