Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2018-06, with the labels that each got.

#1808 Fixed verbose in QC, integrated coveralls
  .travis.yml
  README.md
  scripts/sct_check_dependencies.py
  spinalcordtoolbox/reports/qc.py
Labels: enhancement, sct_qc

#1813 Added test to make sure not to crop outside of slice range
  scripts/sct_register_to_template.py
Labels: bug, sct_register_to_template

#1796 Added link to github.com/sct-pipeline
  README.md
Labels: documentation

#1797 Fixed z_centerline_voxel not defined if angle_correction=0
  scripts/sct_process_segmentation.py
Labels: bug, sct_process_segmentation

#1800 Forcing output type to be float32
  scripts/sct_flatten_sagittal.py
Labels: bug, sct_flatten_sagittal

#1798 Now possible to specify a vertebral labeling file when using -vert
  scripts/sct_extract_metric.py
Labels: bug, sct_extract_metric

#1840 Manual centerline is now output when using viewer
  scripts/sct_propseg.py
Labels: documentation, sct_propseg

#1822 Added CNN for centerline detection, brain detection and added possibility for 3d CNN kernel
  scripts/sct_deepseg_sc.py
  scripts/sct_download_data.py
  spinalcordtoolbox/deepseg_sc/cnn_models.py
  spinalcordtoolbox/deepseg_sc/cnn_models_3d.py
Labels: enhancement, sct_deepseg_sc

#1846 Adding threshold (or not) option for the sct_deepseg_gm
  scripts/sct_deepseg_gm.py
  spinalcordtoolbox/deepseg_gm/deepseg_gm.py
  unit_testing/test_deepseg_gm.py
Labels: enhancement, sct_deepseg_gm

#1853 Type conversion error in sct_image, no need to convert list type, this should prevent TypeError
  scripts/sct_image.py
Labels: bug, sct_image

#1865 Now computing label projection in physical (not voxel) space
  scripts/sct_register_to_template.py
Labels: bug, sct_register_to_template

#1866 The `init` parameter now accepts only positive values
  scripts/sct_propseg.py
Labels: sct_propseg

#1870 SCT logo is now being copied to the installation folder {SCT_DIR}
  install_sct
Labels: bug, installation

#1859 Added total execution time in sct_launcher to display time for sct_* modules
  install/sct_launcher
Labels: enhancement

#1876 Reducing TensorFlow cpp logging verbosity level for sct_deepseg_sc
  scripts/sct_deepseg_sc.py
Labels: enhancement

#1883 sct_label_vertebrae: Added subcortical colormap for fslview
  scripts/sct_utils.py
Labels: bug, sct_label_vertebrae

#1894 Adding TTA (test-time augmentation) support for sct_deepseg_gm
  scripts/sct_deepseg_gm.py
  spinalcordtoolbox/deepseg_gm/deepseg_gm.py
Labels: enhancement
