Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2019-06, with the labels that each got.

#2289 Fixed misplaced label in non-RPI data for initializing vertebral labeling
  scripts/msct_types.py
  scripts/sct_label_utils.py
  scripts/sct_label_vertebrae.py
  spinalcordtoolbox/image.py
Labels: bug, sct_label_vertebrae

#2292 Fixing straightening when using NURBS
  spinalcordtoolbox/centerline/core.py
Labels: bug, sct_straighten_spinalcord

#2295 Added automatic data sorting in the QC report
  spinalcordtoolbox/reports/assets/index.html
Labels: enhancement, sct_qc

#2297 Output segmentation in uint8
  spinalcordtoolbox/deepseg_lesion/core.py
  spinalcordtoolbox/deepseg_sc/core.py
Labels: enhancement, sct_deepseg_lesion, sct_deepseg_sc

#2296 Added possibility to keep temporary folders in detect_c2c3 and quit if detection fails
  scripts/sct_label_vertebrae.py
  spinalcordtoolbox/vertebrae/detect_c2c3.py
Labels: bug, sct_label_vertebrae

#2291 Added flag to combine all labels
  scripts/sct_extract_metric.py
  spinalcordtoolbox/aggregate_slicewise.py
  unit_testing/test_aggregate_slicewise.py
Labels: feature, sct_extract_metric

#2308 Fixed compatibility of skimage.regionprop on OSX Sierra
  .travis.yml
  spinalcordtoolbox/process_seg.py
  unit_testing/test_process_seg.py
Labels: bug, sct_process_segmentation

#2309 Fixed compatibility with OSX 10.11 (El Capitan)
  .travis.yml
  requirements.txt
  scripts/sct_check_dependencies.py
  spinalcordtoolbox/process_seg.py
Labels: installation

#2321 Fixed mishandling of the columns when using the search module
  spinalcordtoolbox/reports/assets/_assets/css/style.css
  spinalcordtoolbox/reports/assets/index.html
Labels: bug, sct_qc

#2325 Fixed bug when using GUI (flag -g)
  scripts/sct_crop_image.py
Labels: bug, sct_crop_image
