Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2019-11, with the labels that each got.

#2532 Fixed cropping of registered image
  scripts/sct_register_to_template.py
Labels: bug, sct_register_to_template

#2524 PyQt5 version downgrade to fix GUI on Debian 8.11 distros
  requirements.txt
Labels: installation, sct_viewer

#2522 Increased sensitivity of dependency testing
  .travis.yml
  scripts/sct_check_dependencies.py
Labels: installation, sct_check_dependencies

#2518 Fixed issue when passing absolute path to script
  shell/sct_run_batch.sh
Labels: bug, sct_run_batch

#2533 Added an option for keypoints transformation
  scripts/sct_apply_transfo.py
Labels: feature, sct_apply_transfo

#2520 Now possible to add existing label from an external file in the create-viewer option
  scripts/sct_label_utils.py
  spinalcordtoolbox/gui/base.py
  spinalcordtoolbox/gui/sagittal.py
Labels: feature, sct_label_utils
