Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2019-02, with the labels that each got.

#2147 Major refactoring of centerline routine
  batch_processing.sh
  scripts/msct_register.py
  scripts/msct_shape.py
  scripts/msct_smooth.py
  scripts/msct_types.py
  scripts/sct_analyze_lesion.py
  scripts/sct_deepseg_lesion.py
  scripts/sct_deepseg_sc.py
  scripts/sct_flatten_sagittal.py
  scripts/sct_get_centerline.py
  scripts/sct_label_utils.py
  scripts/sct_process_segmentation.py
  scripts/sct_propseg.py
  scripts/sct_register_to_template.py
  scripts/sct_straighten_spinalcord.py
  scripts/sct_testing.py
  scripts/sct_utils.py
  spinalcordtoolbox/centerline/core.py
  spinalcordtoolbox/centerline/curve_fitting.py
  spinalcordtoolbox/centerline/nurbs.py
  spinalcordtoolbox/centerline/optic.py
  spinalcordtoolbox/deepseg_lesion/__init__.py
  spinalcordtoolbox/deepseg_lesion/core.py
  spinalcordtoolbox/deepseg_sc/cnn_models_3d.py
  spinalcordtoolbox/deepseg_sc/core.py
  spinalcordtoolbox/gui/centerline.py
  spinalcordtoolbox/process_seg.py
  spinalcordtoolbox/vertebrae/detect_c2c3.py
  testing/test_sct_flatten_sagittal.py
  testing/test_sct_get_centerline.py
  testing/test_sct_process_segmentation.py
  unit_testing.sh
  unit_testing/test_centerline.py
  unit_testing/test_deepseg_lesion.py
  unit_testing/test_deepseg_sc.py
  unit_testing/test_image.py
  unit_testing/test_process_seg.py
Labels: compatibility, enhancement, sct_process_segmentation

#2154 Fixed crash caused by wrong estimation of centerline length in case of incomplete segmentation
  scripts/sct_get_centerline.py
  scripts/sct_image.py
  scripts/sct_straighten_spinalcord.py
  spinalcordtoolbox/centerline/core.py
  unit_testing/test_centerline.py
Labels: bug, sct_straighten_spinalcord

#2155 deepseg_sc/core: do not save tmp file in the working directory
  spinalcordtoolbox/deepseg_sc/core.py
Labels: card:TO_REVIEW, sct_deepseg_sc

#2163 Work around "too many open files" by slurping the data
  scripts/msct_moco.py
  scripts/sct_dmri_moco.py
  scripts/sct_fmri_moco.py
Labels: bug, sct_dmri_moco, sct_fmri_moco

#2170 Fixed wrong estimate of derivatives on ref image
  scripts/sct_straighten_spinalcord.py
  spinalcordtoolbox/image.py
Labels: bug, sct_straighten_spinalcord

#2157 Various improvements on the QC report and resampling module
  batch_processing.sh
  scripts/msct_register_landmarks.py
  scripts/sct_deepseg_gm.py
  scripts/sct_deepseg_sc.py
  scripts/sct_detect_pmj.py
  scripts/sct_label_vertebrae.py
  scripts/sct_propseg.py
  scripts/sct_register_multimodal.py
  scripts/sct_register_to_template.py
  scripts/sct_resample.py
  spinalcordtoolbox/centerline/core.py
  spinalcordtoolbox/deepseg_gm/deepseg_gm.py
  spinalcordtoolbox/deepseg_lesion/core.py
  spinalcordtoolbox/deepseg_sc/core.py
  spinalcordtoolbox/image.py
  spinalcordtoolbox/reports/assets/index.html
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/reports/slice.py
  spinalcordtoolbox/resample/__init__.py
  spinalcordtoolbox/resample/nipy_resample.py
  spinalcordtoolbox/resampling.py
  spinalcordtoolbox/vertebrae/detect_c2c3.py
  unit_testing/test_resampling.py
Labels: enhancement, sct_qc

#2175 Faster execution and other minor improvements
  .gitignore
  batch_processing.sh
  scripts/sct_warp_template.py
  spinalcordtoolbox/reports/qc.py
Labels: enhancement, sct_warp_template
