Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2019-05, with the labels that each got.

#2238 Using Python 3.7 for default installation
  .gitignore
  .travis.yml
  batch_processing.sh
  install_sct
  requirements.txt
  scripts/_sct_segment_graymatter.py
  scripts/msct_multiatlas_seg.py
  scripts/msct_register.py
  scripts/sct_check_dependencies.py
  scripts/sct_label_vertebrae.py
  scripts/sct_process_segmentation.py
  scripts/sct_qc.py
  scripts/sct_register_to_template.py
  scripts/sct_testing.py
  scripts/sct_utils.py
  setup.cfg
  setup.py
  spinalcordtoolbox/aggregate_slicewise.py
  spinalcordtoolbox/deepseg_sc/core.py
  spinalcordtoolbox/gui/base.py
  spinalcordtoolbox/gui/centerline.py
  spinalcordtoolbox/gui/sagittal.py
  spinalcordtoolbox/gui/widgets.py
  spinalcordtoolbox/metadata.py
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/utils.py
  spinalcordtoolbox/vertebrae/core.py
  spinalcordtoolbox/vertebrae/detect_c2c3.py
  testing/test_sct_qc.py
  unit_testing/test_aggregate_slicewise.py
  unit_testing/test_centerline.py
  unit_testing/test_deepseg_gm.py
  unit_testing/test_deepseg_lesion.py
  unit_testing/test_deepseg_sc.py
  unit_testing/test_image.py
  unit_testing/test_metadata.py
  unit_testing/test_process_seg.py
  unit_testing/test_resampling.py
  unit_testing/test_straightening.py
  unit_testing/test_transfo.py
Labels: epic, installation

#2250 Fixed corruption of QC json file when running parallel jobs
  requirements.txt
  scripts/sct_utils.py
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/utils.py
Labels: bug, sct_qc

#2263 Make consistent STD calculation between sct_fmri_compute_tsnr and sct_compute_snr
  scripts/sct_compute_snr.py
Labels: enhancement, sct_compute_snr

#2269 Changed source of nipy installation to fork
  requirements.txt
  scripts/sct_check_dependencies.py
Labels: installation

#2274 Output DTI Eigenvalues
  scripts/sct_dmri_compute_dti.py
Labels: feature, sct_dmri_compute_dti

#2268 Fixed wrong scaling factor for output XY size
  spinalcordtoolbox/straightening.py
Labels: enhancement, sct_straighten_spinalcord

#2276 Fixed Keras/Tensorflow compatibility with CentOS 7 by downgrading to Python 3.6
  .travis.yml
  install_sct
  scripts/sct_check_dependencies.py
Labels: installation

#2264 Added output file and/or folder flag
  scripts/sct_compute_mtr.py
Labels: enhancement, sct_compute_mtr

#2285 Fixed resampling method with reference image and improved speed for generating QC report
  scripts/sct_resample.py
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/reports/slice.py
  spinalcordtoolbox/resampling.py
Labels: enhancement, sct_qc, sct_resample

#2283 Added possibility to remove or keep labels by specifying values
  scripts/sct_label_utils.py
  scripts/sct_register_to_template.py
Labels: feature, sct_label_utils
