Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2019-09, with the labels that each got.

#2427 Fixed wrong input arguments
  spinalcordtoolbox/straightening.py
Labels: bug, sct_straighten_spinalcord

#2431 Compute cord length
  scripts/sct_process_segmentation.py
  spinalcordtoolbox/aggregate_slicewise.py
  spinalcordtoolbox/process_seg.py
  unit_testing/test_process_seg.py
Labels: feature, sct_process_segmentation

#2432 Fix index error and display fsleyes command
  scripts/sct_denoising_onlm.py
Labels: bug, card:TO_REVIEW, sct_denoising_onlm

#2425 Check if folder already exists by checking its actual name, not the name of the entry to -d flag
  scripts/sct_download_data.py
Labels: enhancement, sct_download_data

#2437 Remove isolated voxels at the edge of the output segmentation
  scripts/sct_deepseg_sc.py
  spinalcordtoolbox/deepseg_lesion/core.py
  spinalcordtoolbox/deepseg_sc/core.py
  spinalcordtoolbox/deepseg_sc/postprocessing.py
  unit_testing/test_deepseg_sc.py
Labels: enhancement, sct_deepseg_sc

#2444 Fixed shape mismatch during straightening
  spinalcordtoolbox/centerline/nurbs.py
Labels: bug, sct_straighten_spinalcord

#2449 Fixed that appeared when copying unzipped files if destination files already exists
  scripts/sct_download_data.py
Labels: regression

#2452 New script to concatenate b0 and dwi data
  scripts/sct_dmri_concat_b0_and_dwi.py
  scripts/sct_image.py
  scripts/sct_testing.py
  spinalcordtoolbox/image.py
  testing/test_sct_dmri_concat_b0_and_dwi.py
Labels: feature, sct_dmri_concat_b0_and_dwi

#2455 QC report: Fixed shift along slice direction between image and overlay
  spinalcordtoolbox/image.py
  spinalcordtoolbox/reports/slice.py
  spinalcordtoolbox/resampling.py
Labels: bug, sct_qc, sct_resample

#2457 Better management of CLI syntax in case mandatory arguments are missing
  scripts/sct_analyze_lesion.py
  scripts/sct_analyze_texture.py
  scripts/sct_apply_transfo.py
  scripts/sct_compute_ernst_angle.py
  scripts/sct_compute_hausdorff_distance.py
  scripts/sct_compute_mscc.py
  scripts/sct_compute_mtr.py
  scripts/sct_compute_mtsat.py
  scripts/sct_compute_snr.py
  scripts/sct_concat_transfo.py
  scripts/sct_convert.py
  scripts/sct_create_mask.py
  scripts/sct_crop_image.py
  scripts/sct_deepseg_gm.py
  scripts/sct_deepseg_lesion.py
  scripts/sct_deepseg_sc.py
  scripts/sct_denoising_onlm.py
  scripts/sct_detect_pmj.py
  scripts/sct_dice_coefficient.py
  scripts/sct_dmri_compute_bvalue.py
  scripts/sct_dmri_compute_dti.py
  scripts/sct_dmri_concat_b0_and_dwi.py
  scripts/sct_dmri_concat_bvals.py
  scripts/sct_dmri_concat_bvecs.py
Labels: documentation

#2459 Improved CLI, fixed bug with the GUI and refactored into module
  dev/GM_atlas/registration_gm_atlas.py
  dev/atlas/create_atlas/register_AMU_to_PAM.py
  dev/detect_c2c3/train.py
  install/make_binaries.sh
  scripts/msct_gmseg_utils.py
  scripts/sct_apply_transfo.py
  scripts/sct_crop_image.py
  scripts/sct_detect_pmj.py
  scripts/sct_download_data.py
  spinalcordtoolbox/cropping.py
  spinalcordtoolbox/reports/slice.py
  spinalcordtoolbox/resampling.py
  testing/test_sct_apply_transfo.py
  testing/test_sct_crop_image.py
  unit_testing/test_resampling.py
Labels: compatibility, enhancement, sct_crop_image
