Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2020-04, with the labels that each got.

#2634 Now possible to use soft mask, bug fixes and various improvements
  scripts/msct_moco.py
  scripts/sct_convert.py
  scripts/sct_dmri_moco.py
  scripts/sct_fmri_moco.py
  scripts/sct_utils.py
  spinalcordtoolbox/image.py
  spinalcordtoolbox/moco.py
  testing/test_sct_dmri_moco.py
  testing/test_sct_fmri_moco.py
Labels: feature, sct_dmri_moco, sct_fmri_moco

#2628 Test for parallel qc crash
  spinalcordtoolbox/reports/qc.py
  unit_testing/test_qc_parallel.py
Labels: bug, fix:minor, sct_qc

#2656 Update badge for discourse forum
  README.md
Labels: documentation

#2659 Added video recording of the London 2020 course
  README.md
Labels: documentation

#2529 Fixed compatibility between SCT/ANTs and FSL warping fields
  scripts/sct_image.py
Labels: feature, sct_apply_transfo

#2660 Fixed forgot to reorient mask
  scripts/msct_register.py
Labels: bug, sct_register_multimodal
