Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2020-06, with the labels that each got.

#2643 Added tutorial to install SCT with WSL for Windows users
  README.md
Labels: documentation

#2754 Fixed test_centerline crashing due to bump in Python library
  batch_processing.sh
  scripts/sct_straighten_spinalcord.py
  spinalcordtoolbox/centerline/core.py
  spinalcordtoolbox/centerline/curve_fitting.py
  spinalcordtoolbox/centerline/nurbs.py
  spinalcordtoolbox/testing/create_test_data.py
  unit_testing/test_centerline.py
Labels: sct_get_centerline, testing

#2762 Do not overwrite existing segmentation during pytest:test_deepseg
  unit_testing/test_deepseg.py
Labels: sct_deepseg, testing

#2748 Accommodate a cascade of deep learning models
  requirements.txt
  scripts/sct_deepseg.py
  spinalcordtoolbox/deepseg/core.py
  spinalcordtoolbox/deepseg/models.py
  unit_testing/test_deepseg.py
Labels: enhancement, sct_deepseg

#2763 Disabling progress bars
  scripts/msct_register.py
  scripts/sct_analyze_texture.py
  scripts/sct_run_batch.py
  spinalcordtoolbox/deepseg_sc/core.py
  spinalcordtoolbox/download.py
  spinalcordtoolbox/moco.py
  spinalcordtoolbox/process_seg.py
  spinalcordtoolbox/straightening.py
  spinalcordtoolbox/utils.py
Labels: feature, sct_run_batch
