Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2020-10, with the labels that each got.

#2887 Refactor sct_label_utils into proper API
  scripts/sct_apply_transfo.py
  scripts/sct_create_mask.py
  scripts/sct_label_utils.py
  scripts/sct_label_vertebrae.py
  scripts/sct_register_to_template.py
  spinalcordtoolbox/labels.py
  spinalcordtoolbox/types.py
  unit_testing/test_labels.py
Labels: API: labels.py, refactoring, sct_label_utils

#2917 Port functional tests to pytest
  .ci.sh
  requirements.txt
  scripts/sct_check_dependencies.py
  scripts/sct_fmri_compute_tsnr.py
  setup.cfg
  testing/test_sct_fmri_compute_tsnr.py
  unit_testing/cli/test_cli_sct_analyze_lesion.py
  unit_testing/cli/test_cli_sct_analyze_texture.py
  unit_testing/cli/test_cli_sct_apply_transfo.py
  unit_testing/cli/test_cli_sct_compute_ernst_angle.py
  unit_testing/cli/test_cli_sct_compute_hausdorff_distance.py
  unit_testing/cli/test_cli_sct_compute_mscc.py
  unit_testing/cli/test_cli_sct_compute_mtr.py
  unit_testing/cli/test_cli_sct_compute_snr.py
  unit_testing/cli/test_cli_sct_convert.py
  unit_testing/cli/test_cli_sct_create_mask.py
  unit_testing/cli/test_cli_sct_crop_image.py
  unit_testing/cli/test_cli_sct_deepseg_gm.py
  unit_testing/cli/test_cli_sct_deepseg_lesion.py
  unit_testing/cli/test_cli_sct_deepseg_sc.py
  unit_testing/cli/test_cli_sct_detect_pmj.py
  unit_testing/cli/test_cli_sct_dice_coefficient.py
  unit_testing/cli/test_cli_sct_dmri_compute_bvalue.py
  unit_testing/cli/test_cli_sct_dmri_compute_dti.py
  unit_testing/cli/test_cli_sct_dmri_concat_b0_and_dwi.py
  unit_testing/cli/test_cli_sct_dmri_concat_bvals.py
  unit_testing/cli/test_cli_sct_dmri_concat_bvecs.py
  unit_testing/cli/test_cli_sct_dmri_moco.py
  unit_testing/cli/test_cli_sct_dmri_separate_b0_and_dwi.py
  unit_testing/cli/test_cli_sct_dmri_transpose_bvecs.py
  unit_testing/cli/test_cli_sct_extract_metric.py
  unit_testing/cli/test_cli_sct_flatten_sagittal.py
  unit_testing/cli/test_cli_sct_fmri_compute_tsnr.py
  unit_testing/cli/test_cli_sct_fmri_moco.py
  unit_testing/cli/test_cli_sct_get_centerline.py
  unit_testing/cli/test_cli_sct_image.py
  unit_testing/cli/test_cli_sct_label_utils.py
  unit_testing/cli/test_cli_sct_label_vertebrae.py
  unit_testing/cli/test_cli_sct_maths.py
  unit_testing/cli/test_cli_sct_merge_images.py
  unit_testing/cli/test_cli_sct_process_segmentation.py
  unit_testing/cli/test_cli_sct_propseg.py
  unit_testing/cli/test_cli_sct_qc.py
  unit_testing/cli/test_cli_sct_register_multimodal.py
  unit_testing/cli/test_cli_sct_register_to_template.py
  unit_testing/cli/test_cli_sct_resample.py
  unit_testing/cli/test_cli_sct_smooth_spinalcord.py
  unit_testing/cli/test_cli_sct_straighten_spinalcord.py
  unit_testing/cli/test_cli_sct_warp_template.py
Labels: enhancement, sct_testing, tests

#2928 sct_register_to_template: Fix '%' in argparse iCloud help links
  scripts/sct_register_to_template.py
Labels: bug, sct_register_to_template

#2932 Replace onnxruntime==1.4.0 version pinning with libomp install for macOS CI jobs
  .travis.yml
  requirements.txt
Labels: CI

#2935 Fix issue with outdated Homebrew in older macOS TravisCI images
  .travis.yml
Labels: CI

#2913 Update references
  documentation/source/overview/references.rst
Labels: documentation

#2936 Remove msct_parser and clean up remaning usage
  dev/scripts/isct_warpmovie_generator.py
  dev/sct_nin_convert_dcm2nii.py
  install/compile_external.py
  scripts/msct_parser.py
  spinalcordtoolbox/gui/cli.py
Labels: msct_parser, refactoring

#2900 Convert argparse '0'/'1' options to be typed as ints rather than strings
  scripts/sct_fmri_moco.py
  scripts/sct_label_vertebrae.py
  scripts/sct_process_segmentation.py
  scripts/sct_propseg.py
  scripts/sct_register_multimodal.py
  scripts/sct_register_to_template.py
  scripts/sct_smooth_spinalcord.py
  scripts/sct_warp_template.py
Labels: refactoring

#2901 sct_maths: Convert usage of convert_list_str to use list_type
  scripts/sct_maths.py
Labels: enhancement, sct_maths

#2940 sct_image: -copy-header should use -o as output file
  scripts/sct_image.py
Labels: enhancement, sct_image

#2943 Move init_sct to spinalcordtoolbox.utils
  dev/scripts/isct_warpmovie_generator.py
  scripts/isct_check_detection.py
  scripts/isct_convert_binary_to_trilinear.py
  scripts/isct_test_ants.py
  scripts/sct_analyze_lesion.py
  scripts/sct_analyze_texture.py
  scripts/sct_apply_transfo.py
  scripts/sct_check_dependencies.py
  scripts/sct_compute_ernst_angle.py
  scripts/sct_compute_hausdorff_distance.py
  scripts/sct_compute_mscc.py
  scripts/sct_compute_mtr.py
  scripts/sct_compute_mtsat.py
  scripts/sct_compute_snr.py
  scripts/sct_convert.py
  scripts/sct_create_mask.py
  scripts/sct_crop_image.py
  scripts/sct_deepseg.py
  scripts/sct_deepseg_gm.py
  scripts/sct_deepseg_lesion.py
  scripts/sct_deepseg_sc.py
  scripts/sct_denoising_onlm.py
  scripts/sct_detect_pmj.py
  scripts/sct_dice_coefficient.py
  scripts/sct_dmri_compute_bvalue.py
  scripts/sct_dmri_compute_dti.py
  scripts/sct_dmri_concat_b0_and_dwi.py
  scripts/sct_dmri_concat_bvals.py
  scripts/sct_dmri_concat_bvecs.py
  scripts/sct_dmri_display_bvecs.py
  scripts/sct_dmri_moco.py
  scripts/sct_dmri_separate_b0_and_dwi.py
  scripts/sct_dmri_transpose_bvecs.py
  scripts/sct_download_data.py
  scripts/sct_extract_metric.py
  scripts/sct_flatten_sagittal.py
  scripts/sct_fmri_compute_tsnr.py
  scripts/sct_fmri_moco.py
  scripts/sct_get_centerline.py
  scripts/sct_image.py
  scripts/sct_label_utils.py
  scripts/sct_label_vertebrae.py
  scripts/sct_maths.py
  scripts/sct_merge_images.py
  scripts/sct_process_segmentation.py
  scripts/sct_propseg.py
  scripts/sct_qc.py
  scripts/sct_register_multimodal.py
  scripts/sct_register_to_template.py
  scripts/sct_resample.py
  scripts/sct_run_batch.py
  scripts/sct_smooth_spinalcord.py
  scripts/sct_straighten_spinalcord.py
  scripts/sct_testing.py
  scripts/sct_utils.py
  scripts/sct_warp_template.py
  spinalcordtoolbox/aggregate_slicewise.py
  spinalcordtoolbox/utils.py
  unit_testing/test_centerline.py
  unit_testing/test_qmri.py
Labels: API: utils.py, refactoring, sct_utils

#2947 sct_utils: cleanup dead code
  scripts/isct_convert_binary_to_trilinear.py
  scripts/isct_test_ants.py
  scripts/sct_analyze_texture.py
  scripts/sct_apply_transfo.py
  scripts/sct_check_dependencies.py
  scripts/sct_compute_hausdorff_distance.py
  scripts/sct_create_mask.py
  scripts/sct_detect_pmj.py
  scripts/sct_dice_coefficient.py
  scripts/sct_dmri_separate_b0_and_dwi.py
  scripts/sct_image.py
  scripts/sct_label_vertebrae.py
  scripts/sct_propseg.py
  scripts/sct_register_multimodal.py
  scripts/sct_register_to_template.py
  scripts/sct_smooth_spinalcord.py
  scripts/sct_testing.py
  scripts/sct_utils.py
  scripts/sct_warp_template.py
  spinalcordtoolbox/centerline/optic.py
  spinalcordtoolbox/moco.py
  spinalcordtoolbox/straightening.py
  spinalcordtoolbox/vertebrae/detect_c2c3.py
  testing/test_sct_dmri_moco.py
  testing/test_sct_orientation.py
  testing/test_sct_propseg.py
Labels: API: utils.py, refactoring, sct_utils

#2941 fsleyes: allow user to specify output folder
  contrib/fsl_integration/sct_plugin.py
Labels: FSLeyes, enhancement

#2955 fix doc build warnings + associated bug
  documentation/source/index.rst
  spinalcordtoolbox/__init__.py
  spinalcordtoolbox/aggregate_slicewise.py
  spinalcordtoolbox/centerline/__init__.py
  spinalcordtoolbox/compat/__init__.py
  spinalcordtoolbox/deepseg/__init__.py
  spinalcordtoolbox/deepseg_gm/__init__.py
  spinalcordtoolbox/deepseg_lesion/__init__.py
  spinalcordtoolbox/deepseg_lesion/core.py
  spinalcordtoolbox/deepseg_sc/__init__.py
  spinalcordtoolbox/deepseg_sc/cnn_models_3d.py
  spinalcordtoolbox/deepseg_sc/core.py
  spinalcordtoolbox/gui/__init__.py
  spinalcordtoolbox/qmri/__init__.py
  spinalcordtoolbox/registration/__init__.py
  spinalcordtoolbox/reports/__init__.py
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/vertebrae/__init__.py
  unit_testing/test_deepseg_sc.py
Labels: documentation

#2974 Switch CHANGES.md hyperlink to document reference
  documentation/source/user_section/installation.rst
Labels: documentation

#2962 Use logger in API code, not printv.
  spinalcordtoolbox/centerline/nurbs.py
  spinalcordtoolbox/centerline/optic.py
  spinalcordtoolbox/deepseg_sc/core.py
  spinalcordtoolbox/image.py
  spinalcordtoolbox/qmri/mt.py
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/straightening.py
  spinalcordtoolbox/utils/shell.py
  spinalcordtoolbox/vertebrae/core.py
Labels: refactoring

#2952 Update Win10 WSL installation information (Move from Wiki to RTD, update recommendations for FSLEyes/WSL1)
  documentation/source/user_section/installation.rst
Labels: documentation
