Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2020-05, with the labels that each got.

#2685 Fix argparse linewrap for R| strings
  spinalcordtoolbox/utils.py
Labels: documentation, enhancement

#2700 Moved sct_download_data functions to new download module
  scripts/sct_download_data.py
  spinalcordtoolbox/download.py
  spinalcordtoolbox/utils.py
  unit_testing/test_utils.py
Labels: enhancement, sct_download_data

#2694 sagittal dialog: fixes error when trying to access out of bound slice
  spinalcordtoolbox/gui/sagittal.py
Labels: bug, sct_label_utils

#2657 SCT logo fix in FSLeyes
  contrib/fsl_integration/sct_plugin.py
  documentation/imgs/logo_sct_small.png
Labels: FSLeyes

#2686 Relax test tolerance for centerline polyfit
  unit_testing/test_centerline.py
Labels: sct_get_centerline, testing

#2723 Added useful formatting to compare SCT versions; introduced sct_version
  batch_processing.sh
  scripts/sct_version.py
Labels: feature

#2698 CI for WSL (2691)
  .travis.sh
  .travis.yml
  install_sct
Labels: testing, travis

#2722 Fix out of order plots
  scripts/sct_process_segmentation.py
Labels: bug, sct_qc

#2639 Centralized all deep learning segmentation tasks with new function "sct_deepseg" and refactored sct_download_data
  .gitignore
  install_sct
  requirements.txt
  scripts/sct_deepseg.py
  spinalcordtoolbox/__init__.py
  spinalcordtoolbox/deepseg/__init__.py
  spinalcordtoolbox/deepseg/core.py
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/utils.py
  unit_testing/test_deepseg.py
Labels: feature, sct_deepseg, sct_download_data
