Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2020-01, with the labels that each got.

#2566 Fixed bug related to missing output file
  scripts/msct_register.py
Labels: bug, sct_register_multimodal

#2560 Better error handling if installation files are missing and clarified help
  scripts/sct_deepseg_sc.py
  spinalcordtoolbox/vertebrae/detect_c2c3.py
Labels: enhancement, fix:patch, sct_deepseg_sc, sct_label_vertebrae

#2567 Fixed generation of QC report
  scripts/sct_warp_template.py
  spinalcordtoolbox/metadata.py
Labels: bug, sct_warp_template

#2569 Fixed missing file extension in detect_c2c3()
  spinalcordtoolbox/vertebrae/detect_c2c3.py
Labels: bug, sct_label_vertebrae

#2577 Added gcc as installation pre-requisite with useful instructions
  README.md
  install_sct
Labels: installation

#2578 sct_utils: Changed default open command for Linux
  scripts/sct_utils.py
Labels: enhancement
