Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2020-09, with the labels that each got.

#2867 Prevent crash if folder already exists
  scripts/sct_run_batch.py
Labels: enhancement, sct_run_batch

#2819 Convert 1-10 out of 20 remaining scripts from msct_parser to argparse
  scripts/sct_dmri_display_bvecs.py
  scripts/sct_dmri_moco.py
  scripts/sct_dmri_separate_b0_and_dwi.py
  scripts/sct_dmri_transpose_bvecs.py
  scripts/sct_download_data.py
  scripts/sct_extract_metric.py
  scripts/sct_flatten_sagittal.py
  scripts/sct_fmri_compute_tsnr.py
  scripts/sct_fmri_moco.py
  scripts/sct_maths.py
  spinalcordtoolbox/utils.py
Labels: enhancement, msct_parser

#2875 Implement json sidecar parser to fetch TR and flip angles for MTsat calculation
  scripts/sct_compute_mtsat.py
  scripts/sct_download_data.py
  unit_testing/test_sct_compute_mtsat.py
Labels: feature, sct_compute_mtsat

#2882 Change default value for average to maintain cross-compatibility
  scripts/sct_dmri_separate_b0_and_dwi.py
Labels: enhancement, sct_dmri_separate_b0_and_dwi

#2877 sct_maths refactor to spinalcordtoolbox.math
  scripts/msct_gmseg_utils.py
  scripts/sct_maths.py
  spinalcordtoolbox/math.py
  spinalcordtoolbox/vertebrae/core.py
Labels: enhancement, sct_maths

#2886 Automatically show defaults in argparse help descriptions
  spinalcordtoolbox/utils.py
Labels: documentation

#2885 Move Contributing documentation from RTD to GitHub Wiki
  CONTRIBUTING.rst
  documentation/source/dev_section/development.rst
Labels: documentation

#2842 Convert 11-20 out of 20 remaining scripts from msct_parser to argparse
  scripts/sct_create_mask.py
  scripts/sct_dmri_concat_b0_and_dwi.py
  scripts/sct_get_centerline.py
  scripts/sct_label_utils.py
  scripts/sct_label_vertebrae.py
  scripts/sct_process_segmentation.py
  scripts/sct_propseg.py
  scripts/sct_register_multimodal.py
  scripts/sct_register_to_template.py
  scripts/sct_resample.py
  scripts/sct_smooth_spinalcord.py
  scripts/sct_warp_template.py
Labels: enhancement, msct_parser

#2899 Update LICENSE to LGPLv3
  LICENSE
Labels: documentation

#2914 Deprecate sct_concat_transfo + refactor callers
  documentation/source/user_section/command-line.rst
  scripts/sct_concat_transfo.py
  scripts/sct_register_to_template.py
  scripts/sct_testing.py
  setup.py
  testing/test_sct_concat_transfo.py
Labels: compatibility, enhancement, sct_concat_transfo

#2910 Run batch_processing if building master
  .ci.sh
  .travis.sh
Labels: CI, enhancement

#2921 install_sct: Update continuum.io to anaconda.com
  install_sct
Labels: installation

#2740 maths: check -dim for -erode/-dilate with 2D kernel
  scripts/sct_maths.py
Labels: bug, documentation, sct_maths

#2903 pytest: download test data before test collection
  conftest.py
Labels: enhancement, tests
