Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2020-12, with the labels that each got.

#2985 Obsolete -denoise functionality
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
Labels: bug, sct_label_vertebrae

#3070 Set PYTHONNOUSERSITE=True to prevent user site packages from interfering
  spinalcordtoolbox/compat/launcher.py
Labels: API: compat, bug

#3060 Check that there is two inputs for initz
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  unit_testing/cli/test_cli_sct_label_vertebrae.py
Labels: enhancement, sct_label_vertebrae

#3041 Support of multichannel and multiclass models
  install_sct
  requirements.txt
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/scripts/sct_deepseg.py
  unit_testing/test_deepseg.py
Labels: sct_deepseg

#3052 Update sct_run_batch argparse descriptions to clarify '-itk-threads' usage
  spinalcordtoolbox/scripts/sct_run_batch.py
Labels: documentation, sct_run_batch

#3069 Documentation fixes
  documentation/source/dev_section/api.rst
  spinalcordtoolbox/flattening.py
  spinalcordtoolbox/labels.py
  spinalcordtoolbox/math.py
Labels: documentation

#3073 Change Error type so program doesn't quit when labels are too high
  spinalcordtoolbox/vertebrae/core.py
  unit_testing/cli/test_cli_sct_label_vertebrae.py
Labels: sct_label_vertebrae

#2980 Enable fail on warning in RTD
  .ci.sh
  .readthedocs.yml
Labels: documentation

#3076 Update -create-viewer argument to use parse_num_list function
  spinalcordtoolbox/scripts/sct_label_utils.py
Labels: enhancement, sct_label_utils

#3082 Add improvements to recent tensorflow-tensorboard fix
  install_sct
Labels: installation

#3090 Change default option values to None
  requirements.txt
  spinalcordtoolbox/scripts/sct_deepseg.py
  unit_testing/test_deepseg.py
Labels: API: deepseg

#3104 Forces output label image to be UINT8 with -create-viewer
  spinalcordtoolbox/scripts/sct_label_utils.py
Labels: API: labels.py, bug

#3109 Print actual numbers of jobs run in parallel.
  spinalcordtoolbox/scripts/sct_run_batch.py
Labels: enhancement, sct_run_batch

#2990 Fixed missing top disc label with using -discfile
  spinalcordtoolbox/scripts/sct_apply_transfo.py
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  spinalcordtoolbox/vertebrae/core.py
  unit_testing/cli/test_cli_sct_label_vertebrae.py
Labels: bug, sct_label_vertebrae

#3117 Update references.rst
  documentation/source/overview/references.rst
  spinalcordtoolbox/scripts/sct_deepseg_sc.py
Labels: documentation, sct_deepseg_sc

#3116 Fix incorrect indexing in get_center_spit to prevent QC report cropping
  spinalcordtoolbox/reports/slice.py
  unit_testing/test_reports.py
Labels: API: reports, bug

#3091 Refactor CLI init steps to be consistent across scripts
  spinalcordtoolbox/moco.py
  spinalcordtoolbox/scripts/msct_gmseg_utils.py
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
  spinalcordtoolbox/scripts/sct_analyze_texture.py
  spinalcordtoolbox/scripts/sct_apply_transfo.py
  spinalcordtoolbox/scripts/sct_check_dependencies.py
  spinalcordtoolbox/scripts/sct_compute_ernst_angle.py
  spinalcordtoolbox/scripts/sct_compute_hausdorff_distance.py
  spinalcordtoolbox/scripts/sct_compute_mscc.py
  spinalcordtoolbox/scripts/sct_compute_mtr.py
  spinalcordtoolbox/scripts/sct_compute_mtsat.py
  spinalcordtoolbox/scripts/sct_compute_snr.py
  spinalcordtoolbox/scripts/sct_convert.py
  spinalcordtoolbox/scripts/sct_create_mask.py
  spinalcordtoolbox/scripts/sct_crop_image.py
  spinalcordtoolbox/scripts/sct_deepseg.py
  spinalcordtoolbox/scripts/sct_deepseg_gm.py
  spinalcordtoolbox/scripts/sct_deepseg_lesion.py
  spinalcordtoolbox/scripts/sct_deepseg_sc.py
  spinalcordtoolbox/scripts/sct_denoising_onlm.py
  spinalcordtoolbox/scripts/sct_detect_pmj.py
  spinalcordtoolbox/scripts/sct_dice_coefficient.py
  spinalcordtoolbox/scripts/sct_dmri_compute_bvalue.py
  spinalcordtoolbox/scripts/sct_dmri_compute_dti.py
  spinalcordtoolbox/scripts/sct_dmri_concat_b0_and_dwi.py
  spinalcordtoolbox/scripts/sct_dmri_concat_bvals.py
  spinalcordtoolbox/scripts/sct_dmri_concat_bvecs.py
  spinalcordtoolbox/scripts/sct_dmri_display_bvecs.py
  spinalcordtoolbox/scripts/sct_dmri_moco.py
  spinalcordtoolbox/scripts/sct_dmri_separate_b0_and_dwi.py
  spinalcordtoolbox/scripts/sct_dmri_transpose_bvecs.py
  spinalcordtoolbox/scripts/sct_download_data.py
  spinalcordtoolbox/scripts/sct_extract_metric.py
  spinalcordtoolbox/scripts/sct_flatten_sagittal.py
  spinalcordtoolbox/scripts/sct_fmri_compute_tsnr.py
  spinalcordtoolbox/scripts/sct_fmri_moco.py
  spinalcordtoolbox/scripts/sct_get_centerline.py
  spinalcordtoolbox/scripts/sct_image.py
  spinalcordtoolbox/scripts/sct_label_utils.py
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  spinalcordtoolbox/scripts/sct_maths.py
  spinalcordtoolbox/scripts/sct_merge_images.py
  spinalcordtoolbox/scripts/sct_process_segmentation.py
  spinalcordtoolbox/scripts/sct_propseg.py
  spinalcordtoolbox/scripts/sct_qc.py
  spinalcordtoolbox/scripts/sct_register_multimodal.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
  spinalcordtoolbox/scripts/sct_resample.py
  spinalcordtoolbox/scripts/sct_run_batch.py
  spinalcordtoolbox/scripts/sct_smooth_spinalcord.py
  spinalcordtoolbox/scripts/sct_straighten_spinalcord.py
  spinalcordtoolbox/scripts/sct_testing.py
  spinalcordtoolbox/scripts/sct_warp_template.py
  spinalcordtoolbox/utils/sys.py
  testing/test_sct_register_to_template.py
  unit_testing/test_centerline.py
  unit_testing/test_qmri.py
Labels: refactoring

#3135 Replace troublesome unicode quote characters with more friendly ones
  documentation/source/overview/concepts/quality-control.rst
  documentation/source/overview/concepts/spaces-and-coordinates.rst
  spinalcordtoolbox/download.py
  spinalcordtoolbox/registration/register.py
Labels: API: download.py, bug

#3092 Readability of parameters. Fixed -ldisc-input and -ldisc-dest typos
  spinalcordtoolbox/scripts/sct_straighten_spinalcord.py
Labels: documentation, sct_straighten_spinalcord

#3102 Turn on stricter shell rules + maintainence
  .ci.sh
  .travis.sh
  .travis.yml
  install_sct
  util/dockerize.sh
Labels: installation, maintenance
