Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2020-11, with the labels that each got.

#2969 Remove deepseg postprocessing
  documentation/source/user_section/installation.rst
  requirements.txt
  scripts/sct_deepseg.py
  scripts/sct_download_data.py
  spinalcordtoolbox/deepseg/core.py
Labels: API: deepseg, refactoring, sct_deepseg

#2862 Transfer remaining documentation from SourceForge
  documentation/source/index.rst
  documentation/source/overview/concepts.rst
  documentation/source/overview/concepts/info_label-atlas.txt
  documentation/source/overview/concepts/info_label-spinal_levels.txt
  documentation/source/overview/concepts/info_label-template.txt
  documentation/source/overview/concepts/pam50.rst
  documentation/source/overview/concepts/quality-control.rst
  documentation/source/overview/concepts/spaces-and-coordinates.rst
  documentation/source/overview/concepts/temp-directories.rst
  documentation/source/user_section/command-line.rst
  documentation/source/user_section/getting-started.rst
  documentation/source/user_section/tutorials.rst
  documentation/source/user_section/tutorials/correcting_sct_propseg.rst
  scripts/sct_propseg.py
  scripts/sct_register_multimodal.py
  scripts/sct_register_to_template.py
Labels: documentation

#2998 Fixes inconsistencies between PAM50 levels and cord
  scripts/sct_download_data.py
Labels: enhancement, sct_register_to_template

#3002 Restore WSL Win10 installation instructions
  documentation/source/user_section/installation.rst
Labels: documentation

#2996 remove models for sct_deepseg
  scripts/sct_deepseg.py
  spinalcordtoolbox/deepseg/models.py
  unit_testing/test_deepseg.py
Labels: API: deepseg

#3000 Update sct_extract_metric help to fix RTD error + fix outdated usage
  scripts/sct_extract_metric.py
Labels: documentation

#3010 Restore subpackage module imports to fix test errors
  unit_testing/test_deepseg.py
Labels: bug, tests

#3011 Logging and printing fixes
  spinalcordtoolbox/utils/shell.py
  spinalcordtoolbox/utils/sys.py
Labels: API: utils.py, bug

#2991 Add "Segmentation" tutorial to RTD that mirrors SCT course contents
  documentation/source/user_section/tutorials.rst
  documentation/source/user_section/tutorials/spinalcord_segmentation.rst
  scripts/sct_propseg.py
Labels: documentation

#3012 Introduce flag to list labels
  scripts/sct_extract_metric.py
Labels: enhancement, sct_extract_metric

#3018 Travis: Add 10.15 (Catalina), update 10.14 (Mojave) image
  .travis.yml
Labels: CI

#3020 Display command when scripts are called from the command-line
  spinalcordtoolbox/utils/sys.py
Labels: enhancement

#3026 sct_label_utils.py: Add message for generated files
  scripts/sct_label_utils.py
Labels: enhancement, sct_label_utils

#3022 Refactor deepseg/core.py into sct_deepseg and update relevant test
  documentation/source/dev_section/api.rst
  scripts/sct_deepseg.py
  spinalcordtoolbox/deepseg/core.py
  unit_testing/test_deepseg.py
Labels: API: deepseg, refactoring, sct_deepseg

#3031 sct_run_batch: handle the case of unexecutable script
  scripts/sct_run_batch.py
  unit_testing/test_sct_run_batch.py
Labels: enhancement, sct_run_batch

#3023 sct_label_utils.py: Clarify -create-seg usage description
  scripts/sct_label_utils.py
Labels: documentation, sct_label_utils

#3021 RTD: Re-enable showing version text underneath logo
  documentation/source/conf.py
Labels: documentation

#3037 Pin onnxruntime==1.4.0 to avoid libomp issue on macOS
  .travis.yml
  requirements.txt
Labels: installation

#3039 Add missing type information to argument in sct_process_segmentation
  scripts/sct_process_segmentation.py
Labels: bug, sct_process_segmentation

#3042 Add script to automate requirements-freeze.txt generation
  install/generate-requirements-freeze.sh
Labels: documentation-internal

#3053 Fix version parsing to support Big Sur (11.0)
  install_sct
Labels: installation

#3032 Add slightly modified PR template from shimming-toolbox
  .github/PULL_REQUEST_TEMPLATE.md
Labels: git/github

#2992 Add function to detect missing label
  spinalcordtoolbox/labels.py
  unit_testing/test_labels.py
Labels: API: labels.py, feature, sct_label_utils

#3066 Update references
  documentation/source/overview/references.rst
Labels: documentation
