Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2021-08, with the labels that each got.

#3478 Measure CSA based on distance from pontomedullary junction (PMJ)
  spinalcordtoolbox/aggregate_slicewise.py
  spinalcordtoolbox/csa_pmj.py
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/scripts/sct_process_segmentation.py
  testing/api/test_aggregate_slicewise.py
  testing/cli/test_cli_sct_process_segmentation.py
Labels: feature, sct_process_segmentation

#3497 Add PMJ-based CSA in `batch_processing.sh`
  batch_processing.sh
  testing/batch_processing/cached_results/t2/csa_pmj.csv
  testing/batch_processing/test_batch_processing.py
Labels: batch_processing.sh, sct_process_segmentation

#3498 Fix hover colour on sidebar of docs
  documentation/source/_static/css/custom.css
Labels: bug, documentation

#3499 Introduce -uthr (upper threshold) to complement -thr (lower threshold) in sct_maths
  spinalcordtoolbox/math.py
  spinalcordtoolbox/scripts/sct_maths.py
  testing/api/test_math.py
Labels: feature, sct_maths

#3504 Add studies
  documentation/source/overview/studies.rst
Labels: documentation

#3506 Fix the output files of `sct_smooth_spinalcord` (`smooth.nii.gz`, `straight_ref.nii.gz`)
  spinalcordtoolbox/scripts/sct_smooth_spinalcord.py
  testing/cli/test_cli_sct_smooth_spinalcord.py
Labels: bug, sct_smooth_spinalcord

#3507 Add `-owarpinv` to `sct_register_multimodal`
  batch_processing.sh
  spinalcordtoolbox/scripts/sct_register_multimodal.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
  testing/cli/test_cli_sct_register_multimodal.py
Labels: sct_register_multimodal, feature
