Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2021-03, with the labels that each got.

#3255 Use 'extend-ignore' in flake8 config to preserve defaults
  setup.cfg
Labels: CI

#3259 Add reference Azzarito et al.
  documentation/source/overview/references.rst
Labels: documentation

#3257 Decrease the sensitivity of the sform/qform mismatch check
  spinalcordtoolbox/image.py
  unit_testing/test_image.py
Labels: API: image.py, bug

#3260 Handle 'label_discs' case where SC segmentation has holes/discontinuities
  spinalcordtoolbox/vertebrae/core.py
  unit_testing/cli/test_cli_sct_label_vertebrae.py
Labels: bug, sct_label_vertebrae

#3258 Uniquely distinguish filenames for tmp files to prevent overwriting
  spinalcordtoolbox/scripts/sct_dice_coefficient.py
Labels: bug, sct_dice_coefficient

#3263 Add checklist item to pull request template for 'Milestone' label
  .github/PULL_REQUEST_TEMPLATE.md
Labels: git/github

#3198 Run and test batch_processing.sh using GitHub Actions
  .github/workflows/test-batch-processing.yml
  unit_testing/batch_processing/cached_results/dmri/fa_in_cst.csv
  unit_testing/batch_processing/cached_results/mt/mtr_in_wm.csv
  unit_testing/batch_processing/cached_results/t2/csa_c2c3.csv
  unit_testing/batch_processing/cached_results/t2s/csa_gm.csv
  unit_testing/batch_processing/cached_results/t2s/csa_wm.csv
  unit_testing/batch_processing/test_batch_processing.py
Labels: CI, tests

#3125 Port CI to Github Actions
  .ci.sh
  .github/workflows/tests.yml
  .travis.yml
  spinalcordtoolbox/utils/shell.py
Labels: CI, git/github, installation, priority:MEDIUM

#3287 Add ref Lee et al.
  documentation/source/overview/references.rst
Labels: documentation

#3291 Unpin ivadomed to get latest version and fix wrong q/sform_code output
  requirements.txt
Labels: bug, sct_deepseg

#3299 Added flag -s-template-id to use another segmentation (e.g. white matter) for registration to template
  spinalcordtoolbox/registration/landmarks.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
Labels: feature, sct_register_to_template

#3270 Create 2d masks in memory instead of via intermediate files
  spinalcordtoolbox/image.py
  spinalcordtoolbox/scripts/sct_create_mask.py
  testing/test_sct_dmri_moco.py
Labels: bug, sct_create_mask

#3288 Replace instances of 'sct_convert.convert' with 'image.convert'
  spinalcordtoolbox/moco.py
  spinalcordtoolbox/registration/register.py
  spinalcordtoolbox/scripts/isct_convert_binary_to_trilinear.py
  spinalcordtoolbox/scripts/sct_convert.py
  spinalcordtoolbox/scripts/sct_dmri_separate_b0_and_dwi.py
  spinalcordtoolbox/scripts/sct_propseg.py
  spinalcordtoolbox/scripts/sct_smooth_spinalcord.py
  unit_testing/cli/test_cli_sct_register_multimodal.py
Labels: API: registration, bug

#3307 Drop `yes |` from the docs
  contrib/docker/Dockerfile
  documentation/source/user_section/installation.rst
Labels: documentation, maintenance

#3293 Use less strict value for `rel_tolerance` in the `batch_processing.sh` test
  unit_testing/batch_processing/test_batch_processing.py
Labels: enhancement, tests

#3272 Replace ANTs binary call with sct_apply_transfo call to properly set sform
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  spinalcordtoolbox/scripts/sct_warp_template.py
  spinalcordtoolbox/straightening.py
  unit_testing/batch_processing/cached_results/dmri/fa_in_cst.csv
  unit_testing/batch_processing/cached_results/mt/mtr_in_wm.csv
Labels: API: straightening.py, bug, sct_label_vertebrae, sct_warp_template

#3310 Add entry to download exvivo template
  spinalcordtoolbox/scripts/sct_download_data.py
Labels: sct_download_data

#3316 Update outdated `sct_register_graymatter` command in `batch_processing.sh`
  batch_processing.sh
Labels: batch_processing.sh, bug

#3305 Fixed right-left flip if template is not RPI and other minor improvements
  spinalcordtoolbox/scripts/sct_download_data.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
  unit_testing/cli/test_cli_sct_register_to_template.py
Labels: bug, sct_register_to_template
