Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2021-07, with the labels that each got.

#3442 Fix display of PMJ in QC report
  spinalcordtoolbox/reports/qc.py
Labels: bug, sct_qc

#3452 Fix typo (`sct_deepsec_sc` -> `sct_deepseg_sc`)
  documentation/source/user_section/tutorials/spinalcord-segmentation/sct_deepseg_sc.rst
Labels: documentation

#3448 Add QC field in .yml list for `sct_detect_pmj`
  spinalcordtoolbox/reports/assets/index.html
Labels: sct_qc

#3447 Remove misleading info about unsupported installation/usage methods (pip, API)
  documentation/source/conf.py
  documentation/source/dev_section/api.rst
  documentation/source/index.rst
  documentation/source/user_section/installation.rst
Labels: documentation

#3446 Apply softmask workaround to `slicereg` algorithm
  spinalcordtoolbox/image.py
  spinalcordtoolbox/moco.py
  spinalcordtoolbox/registration/register.py
  unit_testing/cli/test_cli_sct_register_multimodal.py
Labels: bug, sct_register_multimodal, sct_register_to_template

#3460 Update outdated information + PEP8 fixes in `setup.py`
  setup.py
Labels: refactoring

#3455 Add possiblity for text output for sct-compute-snr
  spinalcordtoolbox/scripts/sct_compute_snr.py
  testing/cli/test_cli_sct_compute_snr.py
Labels: feature, sct_compute_snr

#3472 Fix-up broken test for `sct_compute_snr`
  testing/cli/test_cli_sct_compute_snr.py
Labels: bug, tests

#3473 Removal of scary message for user by changing certain function call parameters
  spinalcordtoolbox/scripts/sct_detect_pmj.py
Labels: enhancement, sct_detect_pmj

#3474 Modify `lint_code.yml` to try to make it work for PRs from forks.
  .github/workflows/lint_code.yml
Labels: CI

#3477 Upgrade Ubuntu versions in test suite
  .github/workflows/tests.yml
Labels: CI

#3480 Skip redownloading `sct_testing_data/` if the directory already exists
  testing/conftest.py
Labels: API: testing, enhancement

#3468 Improve R-L placement in `sct_detect_pmj`
  spinalcordtoolbox/image.py
  spinalcordtoolbox/scripts/sct_detect_pmj.py
Labels: enhancement, sct_detect_pmj

#3482 Don't crash on non-ImportError exceptions when checking dependencies
  spinalcordtoolbox/scripts/sct_check_dependencies.py
Labels: installation, sct_check_dependencies, spinalcordmri.org

#3355 New Theme for Docs
  CONTRIBUTING.rst
  README.rst
  documentation/source/_static/css/custom.css
  documentation/source/_static/css/pygments_dark.css
  documentation/source/_static/img/copy.png
  documentation/source/_static/img/logo_sct.png
  documentation/source/_static/img/logo_sct_notext.png
  documentation/source/_static/img/logo_sct_small.png
  documentation/source/_static/img/overview.png
  documentation/source/_static/img/sct_fsleyes.png
  documentation/source/_static/img/sct_logo_blue.png
  documentation/source/_static/img/sct_logo_dark_grey.png
  documentation/source/conf.py
  documentation/source/dev_section/api.rst
  documentation/source/dev_section/api/centerline.rst
  documentation/source/dev_section/api/helpers.rst
  documentation/source/dev_section/api/image_labelling.rst
  documentation/source/dev_section/api/image_manipulation.rst
  documentation/source/dev_section/api/metrics_aggregation.rst
  documentation/source/dev_section/api/motion_correction.rst
  documentation/source/dev_section/api/qmri.rst
  documentation/source/dev_section/api/quality_control.rst
  documentation/source/dev_section/api/segmentation.rst
  documentation/source/dev_section/api/segmentation_processing.rst
  documentation/source/dev_section/api/vertebrae_labelling.rst
  documentation/source/index.rst
  documentation/source/overview/concepts/pam50.rst
  documentation/source/requirements.txt
  documentation/source/user_section/citing_sct.rst
  documentation/source/user_section/command-line.rst
  documentation/source/user_section/fsleyes.rst
  documentation/source/user_section/getting-started.rst
  documentation/source/user_section/help.rst
  documentation/source/user_section/installation.rst
  documentation/source/user_section/installation/fsleyes.rst
  documentation/source/user_section/installation/linux.rst
  documentation/source/user_section/installation/mac.rst
  documentation/source/user_section/installation/windows.rst
  documentation/source/user_section/tutorials/registering-additional-contrasts/registration-2-direct-registration.rst
  documentation/source/user_section/tutorials/template-registration/sct_register_to_template.rst
  setup.py
Labels: documentation

#3479 Implement the 'single' method to compute SNR
  spinalcordtoolbox/scripts/sct_compute_snr.py
  testing/cli/test_cli_sct_compute_snr.py
Labels: feature, sct_compute_snr

#3489 Fix bug in Read the Docs
  documentation/source/_static/css/custom.css
  documentation/source/conf.py
  documentation/source/requirements.txt
  documentation/source/user_section/help.rst
  setup.py
Labels: bug
