Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2021-11, with the labels that each got.

#3557 Add Hernandez et al.
  documentation/source/overview/studies.rst
Labels: documentation

#3561 Remove leftover unnecessary `R|` formatting
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
  spinalcordtoolbox/scripts/sct_compute_snr.py
  spinalcordtoolbox/scripts/sct_create_mask.py
  spinalcordtoolbox/scripts/sct_deepseg_lesion.py
  spinalcordtoolbox/scripts/sct_deepseg_sc.py
  spinalcordtoolbox/scripts/sct_dmri_compute_dti.py
  spinalcordtoolbox/scripts/sct_dmri_moco.py
  spinalcordtoolbox/scripts/sct_download_data.py
  spinalcordtoolbox/scripts/sct_extract_metric.py
  spinalcordtoolbox/scripts/sct_fmri_moco.py
  spinalcordtoolbox/scripts/sct_get_centerline.py
  spinalcordtoolbox/scripts/sct_image.py
  spinalcordtoolbox/scripts/sct_label_utils.py
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  spinalcordtoolbox/scripts/sct_maths.py
  spinalcordtoolbox/scripts/sct_process_segmentation.py
  spinalcordtoolbox/scripts/sct_propseg.py
  spinalcordtoolbox/scripts/sct_register_multimodal.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
  spinalcordtoolbox/scripts/sct_resample.py
  spinalcordtoolbox/scripts/sct_run_batch.py
  spinalcordtoolbox/scripts/sct_straighten_spinalcord.py
  spinalcordtoolbox/utils/shell.py
Labels: documentation

#3573 Fix multiple WSL issues related to installation and display
  .github/workflows/tests.yml
  documentation/source/user_section/installation/windows.rst
  install_sct
Labels: installation, priority:HIGH

#3576 `README.rst`: Fix typo
  README.rst
Labels: documentation

#3577 Remove misleading `FSLeyes` installation instructions
  documentation/source/user_section/installation.rst
  documentation/source/user_section/installation/fsleyes.rst
Labels: documentation

#3594 `install_sct`: Skip `pip==21.2` to avoid suboptimal dependency resolver
  install_sct
Labels: installation

#3461 Clean up `install/`, `issues/`, and `flirtsch/` folders in repo
  dev/install/__init__.py
  dev/install/check_bash_profile.sh
  dev/install/compile_ants.py
  dev/install/compress_binaries.sh
  dev/install/copy_ants_binaries.py
  dev/install/create_package.py
  dev/install/install_dependencies_with_workarounds.py
  dev/install/install_patch.py
  dev/install/make_binaries.sh
  dev/install/old/installer.py
  dev/install/sct_changelog.py
  flirtsch/README.md
  flirtsch/schedule_TxTy.sch
  flirtsch/schedule_TxTyRz.sch
  flirtsch/schedule_TxTy_2mm.sch
  issues/batch_20150216.sh
  issues/batch_20150225.sh
Labels: installation, maintenance

#3596 Update outdated mirror links
  spinalcordtoolbox/scripts/sct_download_data.py
Labels: bug, sct_download_data

#3604 Restore the argparse linewrapping behavior we had prior to Python 3.7
  spinalcordtoolbox/utils/shell.py
Labels: API: utils.py

#3603 Update help for 2+ labels usage, and change link from iCloud to RTD
  spinalcordtoolbox/scripts/sct_register_to_template.py
Labels: sct_register_to_template, documentation
