Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2021-01, with the labels that each got.

#3148 Add new '-create-seg-mid' option to replace bugged '-create-seg -1' behavior
  spinalcordtoolbox/scripts/sct_label_utils.py
  unit_testing/cli/test_cli_sct_label_utils.py
Labels: bug, sct_label_utils

#3133 Organize "Specific references" into clearer tables
  documentation/source/_static/css/custom.css
  documentation/source/overview/references.rst
Labels: documentation, priority:LOW

#3162 Add the Twitter badge
  README.md
Labels: documentation

#3081 Implement -o flag for a few functions
  spinalcordtoolbox/scripts/sct_deepseg_sc.py
  spinalcordtoolbox/scripts/sct_detect_pmj.py
  spinalcordtoolbox/scripts/sct_propseg.py
  spinalcordtoolbox/scripts/sct_smooth_spinalcord.py
  unit_testing/cli/test_cli_sct_deepseg_sc.py
  unit_testing/cli/test_cli_sct_detect_pmj.py
  unit_testing/cli/test_cli_sct_propseg.py
  unit_testing/cli/test_cli_sct_smooth_spinalcord.py
Labels: enhancement, sct_deepseg_sc, sct_detect_pmj, sct_propseg

#3160 Add option to have a custom task
  spinalcordtoolbox/scripts/sct_deepseg.py
Labels: enhancement, sct_deepseg

#3165 Updated badge from travis.org to travis.com
  README.md
  documentation/source/index.rst
Labels: documentation

#3166 Replace os.path.dirname with pathlib.Path().parent
  spinalcordtoolbox/scripts/sct_propseg.py
Labels: bug, sct_propseg

#3050 Introduced flags samplingStrategy and samplingPercentage for ANTs calls; Set default to 'None' to ensure reproducible results
  spinalcordtoolbox/registration/register.py
  spinalcordtoolbox/scripts/sct_download_data.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
  unit_testing/test_register.py
Labels: API: registration, enhancement, sct_register_multimodal

#3156 Make sure (most) scripts return error code and print usage when no args are passed
  spinalcordtoolbox/scripts/sct_deepseg.py
  spinalcordtoolbox/scripts/sct_label_utils.py
  spinalcordtoolbox/scripts/sct_run_batch.py
  unit_testing/cli/test_cli.py
Labels: bug, sct_deepseg, sct_run_batch

#3177 Fix bugs introduced by recent init step refactoring pull request
  spinalcordtoolbox/scripts/msct_gmseg_utils.py
  spinalcordtoolbox/scripts/sct_compute_hausdorff_distance.py
  spinalcordtoolbox/scripts/sct_dmri_compute_dti.py
Labels: bug, sct_compute_hausdorff_distance, sct_dmri_compute_dti

#3175 Various improvements for the manual labeling of cord centerline
  spinalcordtoolbox/centerline/core.py
  spinalcordtoolbox/gui/centerline.py
Labels: API: centerline, enhancement

#3181 Restore previously deprecated sct_concat_transfo.py
  setup.py
  spinalcordtoolbox/scripts/sct_concat_transfo.py
  spinalcordtoolbox/scripts/sct_testing.py
  testing/test_sct_concat_transfo.py
  unit_testing/cli/test_cli_sct_concat_transfo.py
Labels: sct_concat_transfo

#3185 Remove tensorboard==1.14.0 version pinning from requirements.txt
  requirements.txt
Labels: installation

#3197 Fix line breaks in documentation
  CODE_OF_CONDUCT.md
  CONTRIBUTING.rst
  documentation/source/dev_section/api.rst
  documentation/source/overview/concepts/pam50.rst
  documentation/source/overview/concepts/quality-control.rst
  documentation/source/overview/concepts/spaces-and-coordinates.rst
  documentation/source/overview/concepts/temp-directories.rst
  documentation/source/overview/introduction.rst
  documentation/source/overview/overview.rst
  documentation/source/overview/references.rst
  documentation/source/user_section/command-line.rst
  documentation/source/user_section/getting-started.rst
  documentation/source/user_section/installation.rst
  documentation/source/user_section/support.rst
  documentation/source/user_section/tutorials.rst
  documentation/source/user_section/tutorials/correcting_sct_propseg.rst
Labels: documentation

#3151 Add config that links to SCT forum and removes blank issues
  .github/ISSUE_TEMPLATE/config.yml
Labels: git/github

#3120 Validate '-vertfile' dimensions in aggregate_per_slice_or_level()
  spinalcordtoolbox/aggregate_slicewise.py
  spinalcordtoolbox/scripts/sct_extract_metric.py
  spinalcordtoolbox/scripts/sct_process_segmentation.py
  unit_testing/test_aggregate_slicewise.py
Labels: API: aggregate_slicewise.py, documentation, sct_extract_metric, sct_process_segmentation
