Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2021-02, with the labels that each got.

#3203 Fix recently-introduced faulty slice index comparison
  spinalcordtoolbox/aggregate_slicewise.py
  unit_testing/test_aggregate_slicewise.py
Labels: API: aggregate_slicewise.py, bug

#3204 Update references
  documentation/source/overview/references.rst
Labels: documentation

#2975 Refactor sct_maths callers to remove subprocess and use API
  spinalcordtoolbox/registration/register.py
  spinalcordtoolbox/scripts/sct_analyze_texture.py
  spinalcordtoolbox/scripts/sct_compute_hausdorff_distance.py
  spinalcordtoolbox/scripts/sct_create_mask.py
  spinalcordtoolbox/scripts/sct_dice_coefficient.py
  spinalcordtoolbox/scripts/sct_dmri_separate_b0_and_dwi.py
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  spinalcordtoolbox/scripts/sct_merge_images.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
  spinalcordtoolbox/scripts/sct_smooth_spinalcord.py
Labels: API: math.py, refactoring, sct_maths

#2858 Check qform and sforms match first
  spinalcordtoolbox/image.py
  spinalcordtoolbox/scripts/sct_image.py
  spinalcordtoolbox/straightening.py
  unit_testing/test_image.py
Labels: enhancement, sct_image, sct_straighten_spinalcord

#3212 Don't use xdist by default.
  requirements.txt
  setup.cfg
Labels: tests

#3217 Fix size calculation bug for '-method map' and '-method ml'
  spinalcordtoolbox/aggregate_slicewise.py
Labels: API: aggregate_slicewise.py, bug

#3210 Update FSLeyes install instructions for Win10/WSL
  documentation/source/user_section/installation.rst
Labels: documentation

#3191 Fix unit_testing/test_labels.py::test_remove_missing_labels
  spinalcordtoolbox/labels.py
  unit_testing/test_labels.py
Labels: bug, tests

#3215 Lint pull requests using flake8 GH Actions workflow
  .github/workflows/lint_code.yml
Labels: git/github

#3230 Enforce UINT8 when resampling labels for register to template
  spinalcordtoolbox/scripts/sct_register_to_template.py
Labels: bug, priority:HIGH, sct_register_to_template

#3224 New segmentation model: GM and WM for exvivo DWI data (University of Queensland)
  requirements.txt
  spinalcordtoolbox/deepseg/models.py
Labels: feature

#3222 Modify tests to clean up after themselves in the working directory
  spinalcordtoolbox/registration/register.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
  spinalcordtoolbox/straightening.py
  unit_testing/cli/test_cli_sct_label_vertebrae.py
  unit_testing/cli/test_cli_sct_smooth_spinalcord.py
  unit_testing/test_aggregate_slicewise.py
  unit_testing/test_image.py
  unit_testing/test_register.py
  unit_testing/test_straightening.py
  unit_testing/test_transfo.py
Labels: API: registration, API: straightening.py, enhancement, tests

#3208 Refactor sct_image functions to accept Image objects as input
  spinalcordtoolbox/image.py
  spinalcordtoolbox/moco.py
  spinalcordtoolbox/scripts/sct_analyze_texture.py
  spinalcordtoolbox/scripts/sct_apply_transfo.py
  spinalcordtoolbox/scripts/sct_create_mask.py
  spinalcordtoolbox/scripts/sct_dmri_concat_b0_and_dwi.py
  spinalcordtoolbox/scripts/sct_dmri_separate_b0_and_dwi.py
  spinalcordtoolbox/scripts/sct_image.py
Labels: API: image.py, refactoring, sct_image

#3221 Add ref solanes
  documentation/source/overview/references.rst
Labels: documentation

#3241 Add reference Johnson
  documentation/source/overview/references.rst
Labels: documentation

#3243 Add reference Ost et al.
  documentation/source/overview/references.rst
Labels: documentation

#3228 Update Installation section in docs for MacOS Big Sur, add section for FSLeyes
  documentation/imgs/sct_fsleyes.png
  documentation/source/index.rst
  documentation/source/requirements.txt
  documentation/source/user_section/fsleyes.rst
  documentation/source/user_section/installation.rst
Labels: documentation

#3240 Move course materials to "Tutorials" page for visibility
  documentation/source/index.rst
  documentation/source/tutorials/courses.rst
  documentation/source/tutorials/pages/correcting_sct_propseg.rst
  documentation/source/tutorials/pages/spinalcord_segmentation.rst
  documentation/source/tutorials/tutorials.rst
  documentation/source/tutorials/video-tutorials.rst
  documentation/source/user_section/getting-started.rst
  documentation/source/user_section/tutorials.rst
Labels: documentation
