Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2022-09, with the labels that each got.

#3870 Fix `include_list`/`exclude` argument ordering in call to `_filter_directories`
  spinalcordtoolbox/scripts/sct_run_batch.py
Labels: bug, sct_run_batch

#3878 Simplify `add_suffix`
  spinalcordtoolbox/image.py
Labels: refactoring, API: image.py

#3874 Ensure that calling `printv(type='error')` actually exits the program
  spinalcordtoolbox/utils/shell.py
  spinalcordtoolbox/utils/sys.py
Labels: bug, API: utils.py

#3724 Replace `run_proc` calls with `main` calls across SCT's scripts
  spinalcordtoolbox/registration/algorithms.py
  spinalcordtoolbox/scripts/isct_convert_binary_to_trilinear.py
  spinalcordtoolbox/scripts/isct_test_ants.py
  spinalcordtoolbox/scripts/sct_compute_hausdorff_distance.py
  spinalcordtoolbox/scripts/sct_detect_pmj.py
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
  spinalcordtoolbox/scripts/sct_smooth_spinalcord.py
  spinalcordtoolbox/straightening.py
  spinalcordtoolbox/utils/sys.py
Labels: refactoring

#3879 Deal with `nibabel` deprecation of `get_header` and `get_data`
  spinalcordtoolbox/scripts/sct_dmri_denoise_patch2self.py
Labels: refactoring, sct_dmri_denoise_patch2self

#3882 Address `[Errno 24] Too many open files` during motion correction
  spinalcordtoolbox/image.py
  spinalcordtoolbox/moco.py
Labels: bug, API: image.py, API: moco.py

#3887 Enforce `type=int` for arguments that use `choices=(0, 1)`
  spinalcordtoolbox/scripts/sct_merge_images.py
  spinalcordtoolbox/scripts/sct_smooth_spinalcord.py
Labels: bug, sct_smooth_spinalcord, sct_merge_images

#3886 Fix copy-paste typos in tutorial documentaion
  documentation/source/user_section/tutorials/other-features/spinalcord-smoothing.rst
  documentation/source/user_section/tutorials/other-features/visualizing-misaligned-cords.rst
  documentation/source/user_section/tutorials/registration-to-template/template-registration/before-starting.rst
  documentation/source/user_section/tutorials/registration-to-template/vertebral-labeling/before-starting.rst
Labels: documentation

#3892 Move 5 unused scripts to `spinalcordtoolbox-dev`
  spinalcordtoolbox/scripts/isct_check_detection.py
  spinalcordtoolbox/scripts/isct_get_fractional_volume.py
  spinalcordtoolbox/scripts/matlab_batcher.sh
  spinalcordtoolbox/scripts/msct_base_classes.py
  spinalcordtoolbox/scripts/msct_gmseg_utils.py
Labels: refactoring, maintenance

#3891 `install_sct.bat`: Use delayed expansion (`!!`) for `git_ref`
  install_sct.bat
Labels: bug, OS: Windows (native), install_sct.bat

#3889 Add readability fixes for QC reports (sagittal view scaling, label text, label colormaps)
  spinalcordtoolbox/reports/qc.py
Labels: enhancement, sct_label_vertebrae, sct_qc
