Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2022-11, with the labels that each got.

#3930 Tidy up PEP8 warnings and other small style issues
  spinalcordtoolbox/scripts/sct_merge_images.py
Labels: sct_merge_images, refactoring

#3931 Fix several bugs when loading headers in the `Image` constructor
  spinalcordtoolbox/image.py
Labels: bug, API: image.py

#3933 Add missing spaces in multiline strings, and missing commas in lists
  spinalcordtoolbox/moco.py
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
  spinalcordtoolbox/scripts/sct_compute_mtr.py
  spinalcordtoolbox/scripts/sct_concat_transfo.py
  spinalcordtoolbox/scripts/sct_deepseg_lesion.py
  spinalcordtoolbox/scripts/sct_deepseg_sc.py
  spinalcordtoolbox/scripts/sct_denoising_onlm.py
  spinalcordtoolbox/scripts/sct_extract_metric.py
  spinalcordtoolbox/scripts/sct_run_batch.py
  testing/cli/test_cli_sct_merge_images.py
  testing/cli/test_cli_sct_process_segmentation.py
Labels: documentation, sct_deepseg_lesion

#3929 Ensure bundled GLIBC is up-to-date in order to resolve `MESA-LOADER` errors
  install_sct
Labels: installation, OS: Linux

#3932 Convert `isct_test_ants` script into a `pytest` test, then call via `sct_check_dependencies`
  documentation/source/user_section/command-line.rst
  setup.py
  spinalcordtoolbox/scripts/sct_check_dependencies.py
  testing/dependencies/test_ants.py
Labels: sct_check_dependencies, refactoring

#3865 Add new `-stitch` option that wraps stitching functionality from Glocker et al.
  spinalcordtoolbox/download.py
  spinalcordtoolbox/image.py
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/scripts/sct_image.py
  testing/cli/test_cli_sct_image.py
Labels: feature, sct_image, epic

#3934 Add references to Bédard and Cohen-Adad
  documentation/source/user_section/citing_sct.rst
  documentation/source/user_section/tutorials/registration-to-template/shape-metric-computation/csa-pmj.rst
  spinalcordtoolbox/scripts/sct_process_segmentation.py
Labels: sct_process_segmentation, documentation

#3936 Set a more permissive `quaternion_threshold` inside `Image` constructor
  spinalcordtoolbox/cropping.py
  spinalcordtoolbox/image.py
Labels: bug, API: image.py

#3928 Limit `pyqt5` to >5.11 and <5.15 to avoid "Cannot load library libqxcb.so" error on Ubuntu
  requirements.txt
Labels: installation, OS: Linux

#3938 `sct_image`: Clarify descriptions for `-setorient` commands
  spinalcordtoolbox/scripts/sct_image.py
Labels: documentation, sct_image

#3940 Set `draft: true` in the release creation workflow
  .github/workflows/create-release.yml
Labels: CI

#3945 Add more thorough check for `git` within the `PATH` for the Windows installer
  install_sct.bat
Labels: installation, OS: Windows (native)

#3948 Add scaling to `sct_register_multimodal -dof` argument help
  spinalcordtoolbox/scripts/sct_register_multimodal.py
Labels: sct_register_multimodal, documentation

#3941 Clarify strengths of both `sct_propseg` and `sct_deepseg` in the documentation
  documentation/source/user_section/tutorials/segmentation/choosing-an-algorithm.rst
Labels: documentation

#3958 Allow `path_output` parameter to start with `~`
  spinalcordtoolbox/scripts/sct_run_batch.py
Labels: bug, sct_run_batch

#3962 Pin `flake8<6.0.0` in our linting workflow
  .github/workflows/lint_code.yml
Labels: upstream, CI

#3953 Minimize memory usage for `algo=dl` (and add a warning for potential OOM killer issues)
  spinalcordtoolbox/registration/algorithms.py
Labels: enhancement, sct_register_multimodal

#3944 Update header `dtype` property on save/load to match the datatype of the data array
  spinalcordtoolbox/image.py
  testing/batch_processing/cached_results/dmri/fa_in_cst.csv
  testing/cli/test_cli_sct_dmri_moco.py
Labels: enhancement, API: image.py

#3960 Ensure that the output of `get_centerline()` can be saved using `-r 0`
  spinalcordtoolbox/centerline/core.py
  spinalcordtoolbox/centerline/optic.py
  spinalcordtoolbox/deepseg_/sc.py
  spinalcordtoolbox/process_seg.py
  spinalcordtoolbox/registration/labeling.py
  spinalcordtoolbox/scripts/sct_get_centerline.py
  spinalcordtoolbox/scripts/sct_process_segmentation.py
  spinalcordtoolbox/scripts/sct_propseg.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
  spinalcordtoolbox/straightening.py
Labels: enhancement, sct_get_centerline

#3924 Update Windows install docs to Python 3.8
  documentation/source/user_section/installation/windows.rst
  install_sct.bat
Labels: documentation, install_sct.bat
