Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2022-01, with the labels that each got.

#3641 Help differenciate Linux and WSL user on install documentation
  documentation/source/user_section/installation/linux.rst
Labels: documentation

#3626 Make sure that the QC report for `sct_get_centerline` displays properly
  spinalcordtoolbox/reports/qc.py
  testing/cli/test_cli_sct_get_centerline.py
Labels: bug, sct_get_centerline, API: reports

#3569 Check CPU attributes to determine whether to install an AVX-less version of TensorFlow (M1 Macs, older Linux CPUs)
  install_sct
Labels: installation

#3618 Use `--ignore-installed` to preserve the version of `certifi` that gets installed during `conda create`
  install_sct
Labels: installation

#3644 Update broken link in PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: git/github

#3652 Remove `channel=None` bugfix that was superseded by upstream `skimage=0.19.1` patch
  spinalcordtoolbox/process_seg.py
Labels: API: process_seg.py

#3611 Fix argument parsing to ensure only the requested files are output
  spinalcordtoolbox/scripts/sct_propseg.py
  testing/cli/test_cli_sct_propseg.py
Labels: bug, sct_propseg

#3656 Add studies citing SCT
  documentation/source/overview/studies.rst
Labels: documentation

#3655 Switch to 'informational mode' to prevent Codecov failures for small changes
  codecov.yml
Labels: CI

#3650 Add default output folders for dataset downloads
  batch_processing.sh
  install_sct
  spinalcordtoolbox/download.py
  spinalcordtoolbox/scripts/sct_download_data.py
  spinalcordtoolbox/utils/sys.py
  testing/api/test_reports.py
  testing/batch_processing/test_batch_processing.py
  testing/cli/test_cli_sct_deepseg_sc.py
  testing/cli/test_cli_sct_dmri_display_bvecs.py
  testing/cli/test_cli_sct_image.py
  testing/cli/test_cli_sct_label_utils.py
  testing/cli/test_cli_sct_label_vertebrae.py
  testing/cli/test_cli_sct_propseg.py
  testing/cli/test_cli_sct_register_to_template.py
Labels: enhancement, sct_download_data

#3595 `requirements.txt`: Pin `onnxruntime>=1.7.0` rather than `==1.4.0`
  setup.py
Labels: installation

#3605 Bring back `sct_testing` as a light wrapper for `pytest`
  setup.py
  spinalcordtoolbox/scripts/sct_testing.py
  testing/cli/test_cli.py
  testing/cli/test_cli_sct_label_vertebrae.py
  testing/cli/test_cli_sct_register_to_template.py
Labels: tests, feature, sct_testing

#3658 Add utility function to strip '.py' extensions
  spinalcordtoolbox/scripts/sct_straighten_spinalcord.py
  spinalcordtoolbox/utils/shell.py
  spinalcordtoolbox/utils/sys.py
Labels: bug, API: utils.py

#3657 Appply -symmetrize on specified dimension in `sct_maths`
  spinalcordtoolbox/math.py
  spinalcordtoolbox/scripts/sct_maths.py
  testing/cli/test_cli_sct_maths.py
Labels: bug, sct_maths

#3643 Replace `sct_maths` with `sct_separate_dmri_separate_dwi_and_b0` in tutorial dMRI preprocessing
  batch_processing.sh
  documentation/source/conf.py
  documentation/source/user_section/tutorials/diffusion-weighted-mri/motion-correction-for-dmri.rst
  documentation/source/user_section/tutorials/diffusion-weighted-mri/preprocessing.rst
Labels: documentation, batch_processing.sh

#3510 Add new Patch2Self CLI script for dMRI denoising
  documentation/source/user_section/command-line.rst
  setup.py
  spinalcordtoolbox/math.py
  spinalcordtoolbox/scripts/sct_dmri_denoise_patch2self.py
  testing/cli/test_cli_sct_dmri_denoise_patch2self.py
Labels: feature, sct_dmri_denoise_patch2self

#3660 Allow `install_sct` to run from any directory
  install_sct
Labels: installation

#3637 Add models for MP2RAGE SC and MS lesion segmentation
  spinalcordtoolbox/deepseg/models.py
Labels: feature, sct_deepseg

#3638 Convert input file to float32 before compute MTR
  spinalcordtoolbox/qmri/mt.py
  testing/cli/test_cli_sct_compute_mtr.py
Labels: bug, sct_compute_mtr

#3671 Revert "requirements.txt -> setup.py" PR to restore old dependency-checking behavior
  .github/workflows/create-release.yml
  .gitignore
  CHANGES.md
  documentation/source/user_section/installation/linux.rst
  documentation/source/user_section/installation/mac.rst
  install_sct
  requirements.txt
  setup.py
  spinalcordtoolbox/scripts/sct_check_dependencies.py
Labels: installation, priority:HIGH
