Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2022-04, with the labels that each got.

#3746 `install_sct.bat`: Use a non-admin way of adding SCT to the PATH
  install_sct.bat
Labels: installation, Windows compatibility

#3747 `install_sct.bat`: Allow overwriting of existing spinalcordtoolbox installations
  install_sct.bat
Labels: installation, Windows compatibility

#3749 `install_sct.bat`: Use `requirements-freeze.txt` if present
  install_sct.bat
Labels: installation, Windows compatibility

#3748 `install_sct.bat`: Add a default value for `git ref`
  install_sct.bat
Labels: installation, Windows compatibility

#3750 `install_sct.bat` Only deactivate if script is available on PATH
  install_sct.bat
Labels: installation, Windows compatibility

#3752 Add `msvc-runtime` to our requirements to avoid DLL load error on Windows
  requirements.txt
  spinalcordtoolbox/scripts/sct_check_dependencies.py
Labels: installation, Windows compatibility

#3753 Skip checking `isct_propseg` on Windows
  spinalcordtoolbox/scripts/sct_check_dependencies.py
Labels: bug, sct_check_dependencies, Windows compatibility

#3754 Add support for ITK-Snap + multiple viewers to `display_viewer_syntax`
  spinalcordtoolbox/utils/shell.py
  spinalcordtoolbox/utils/sys.py
  testing/api/test_utils.py
Labels: enhancement, API: utils.py, Windows compatibility

#3757 Refactor `sys.platform` checks to include Windows and use `.startswith()` idiom
  spinalcordtoolbox/gui/base.py
  spinalcordtoolbox/gui/centerline.py
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/scripts/sct_check_dependencies.py
  spinalcordtoolbox/scripts/sct_run_batch.py
  spinalcordtoolbox/utils/shell.py
  testing/cli/test_cli_sct_dmri_display_bvecs.py
Labels: refactoring, Windows compatibility

#3766 Add model for T2w lumbar SC segmentation
  spinalcordtoolbox/deepseg/models.py
Labels: feature, sct_deepseg

#3773 Fix inaccurate comment in `batch_processing.sh`
  batch_processing.sh
Labels: documentation, batch_processing.sh

#3774 Code cleanup
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  spinalcordtoolbox/vertebrae/core.py
Labels: sct_label_vertebrae, refactoring, API: vertebrae

#3777 Cosmetic fixes on `-list-tasks`
  spinalcordtoolbox/deepseg/models.py
Labels: enhancement, API: deepseg

#3775 Output a better error message when the initial disc is invalid
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  spinalcordtoolbox/vertebrae/core.py
  testing/cli/test_cli_sct_label_vertebrae.py
Labels: bug, sct_label_vertebrae, API: vertebrae

#3771 Set a more permissive threshold for reading the qform
  spinalcordtoolbox/cropping.py
  spinalcordtoolbox/scripts/sct_crop_image.py
  testing/batch_processing/test_batch_processing.py
  testing/cli/test_cli_sct_crop_image.py
Labels: bug, API: cropping.py

#3781 Suppress output of `where deactivate` check
  install_sct.bat
Labels: installation, OS: Windows (native)

#3778 Allow `install_sct.bat` file execution from double click
  install_sct.bat
Labels: installation, OS: Windows (native)

#3782 Rewrite ANSI color code snippets to support terminals limited to 16-colors
  requirements.txt
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/scripts/sct_check_dependencies.py
  spinalcordtoolbox/utils/sys.py
Labels: bug, sct_deepseg, API: utils.py, OS: Windows (native)

#3541 Add new option `-list-tasks-long` to print in-depth descriptions of deepseg tasks
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/scripts/sct_deepseg.py
Labels: documentation, sct_deepseg
