Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2022-03, with the labels that each got.

#3701 Add minimally functional Windows installer and GitHub Actions CI runner
  .github/workflows/tests.yml
  install_sct.bat
  requirements.txt
  spinalcordtoolbox/compat/launcher.py
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/scripts/sct_check_dependencies.py
  spinalcordtoolbox/scripts/sct_download_data.py
  spinalcordtoolbox/utils/sys.py
Labels: installation

#3700 Refactor `-param` parsing to address several bugs
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  spinalcordtoolbox/vertebrae/core.py
Labels: bug, sct_label_vertebrae

#3726 Open CSV files using `newline=''` to fix `\r\r\n` issue
  spinalcordtoolbox/aggregate_slicewise.py
  spinalcordtoolbox/moco.py
Labels: bug, API: aggregate_slicewise.py, Windows compatibility

#3729 Rename and move CLI tests from `testing/api/` to `testing/cli/`
  testing/cli/test_sct_compute_mtsat.py
  testing/cli/test_sct_deepseg.py
  testing/cli/test_sct_run_batch.py
Labels: tests, refactoring

#3723 Update `CMakeLists.txt` to include bugfix for unresolved external symbol errors
  dev/isct_dice_coefficient/CMakeLists.txt
Labels: bug, sct_dice_coefficient, Windows compatibility

#3722 Account for non-UNIX platforms in `sys.platform` checks
  spinalcordtoolbox/scripts/sct_run_batch.py
Labels: bug, sct_run_batch, Windows compatibility

#3717 Attempt to fixup isct_propseg build (but ultimately skip sct_propseg on Windows)
  dev/isct_propseg/CMakeLists.txt
  spinalcordtoolbox/scripts/sct_propseg.py
  testing/cli/test_cli_sct_propseg.py
Labels: bug, sct_propseg, Windows compatibility

#3734 Update documentation build instructions
  documentation/README.rst
Labels: documentation

#3731 Refactor argument parsing code
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  testing/cli/test_cli_sct_label_vertebrae.py
Labels: sct_label_vertebrae, refactoring

#3721 Replace hardcoded `/tmp` directory with `tmp_path`
  testing/api/test_reports.py
Labels: bug, tests, Windows compatibility

#3718 Improve how image overwriting is handled for memory-mapped data arrays on Windows
  spinalcordtoolbox/image.py
  spinalcordtoolbox/scripts/sct_image.py
Labels: bug, API: image.py, Windows compatibility

#3727 Stop using a tempfile for data reorientation
  spinalcordtoolbox/scripts/sct_analyze_texture.py
Labels: bug, Windows compatibility, sct_analyze_texture

#3725 Check `isdir` directly, rather than trying to catch `IsADirectoryError`
  spinalcordtoolbox/scripts/sct_run_batch.py
Labels: bug, sct_run_batch, Windows compatibility

#3739 Improve the label cleaning function
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  spinalcordtoolbox/vertebrae/core.py
  testing/cli/test_cli_sct_label_vertebrae.py
Labels: enhancement, sct_label_vertebrae

#3744 update studies
  documentation/source/overview/studies.rst
Labels: documentation
