Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2022-10, with the labels that each got.

#3894 Improve handling of case where `algo` is specified alongside `type='label'`
  spinalcordtoolbox/registration/core.py
  testing/cli/test_cli_sct_register_multimodal.py
Labels: bug, sct_register_multimodal

#3896 Add Google Sheets summary graphs to `studies.rst`
  documentation/source/overview/studies.rst
Labels: documentation

#3895 Enforce use of `display_viewer_syntax` in four scripts using hardcoded `fsleyes` commands
  spinalcordtoolbox/scripts/isct_convert_binary_to_trilinear.py
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
  spinalcordtoolbox/scripts/sct_analyze_texture.py
  spinalcordtoolbox/scripts/sct_denoising_onlm.py
Labels: sct_denoising_onlm, sct_analyze_lesion, sct_analyze_texture

#3899 Add dimensions of data to registration logging
  spinalcordtoolbox/scripts/sct_register_multimodal.py
Labels: enhancement, sct_register_multimodal

#3906 Switch to higher-quality "Tools used" graph on the studies page
  documentation/source/overview/studies.rst
Labels: documentation

#3908 Remove unused `isct_` scripts from SCT's CLI and test suite
  documentation/source/user_section/command-line.rst
  setup.py
  spinalcordtoolbox/scripts/isct_convert_binary_to_trilinear.py
  spinalcordtoolbox/scripts/isct_minc2volume-viewer.py
  testing/cli/test_cli.py
Labels: refactoring, maintenance

#3909 Fix output filename spelling
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
  testing/cli/test_cli_sct_analyze_lesion.py
Labels: bug, sct_analyze_lesion

#3911 Re-add `print_line` call for PropSeg check
  spinalcordtoolbox/scripts/sct_check_dependencies.py
Labels: bug, sct_check_dependencies

#3907 Refactor data downloading API to remove dependency on CLI script
  spinalcordtoolbox/download.py
  spinalcordtoolbox/scripts/sct_download_data.py
  testing/conftest.py
Labels: sct_download_data, refactoring, API: download.py

#3917 Exclude original file extension (e.g. `.nii.gz`) from the output `.csv` filename
  spinalcordtoolbox/scripts/sct_get_centerline.py
  testing/cli/test_cli_sct_get_centerline.py
Labels: bug, sct_get_centerline

#3916 Upgrade SCT from Python 3.7 to Python 3.8
  .github/workflows/create-release.yml
  .github/workflows/test-batch-processing.yml
  .github/workflows/tests.yml
  .readthedocs.yml
  install_sct
  requirements.txt
  setup.py
  spinalcordtoolbox/registration/landmarks.py
  spinalcordtoolbox/scripts/sct_check_dependencies.py
Labels: installation, maintenance
