Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2023-05, with the labels that each got.

#4111 Add an example `-param` configuration to the argparse help description of `algo=dl`
  spinalcordtoolbox/scripts/sct_register_multimodal.py
Labels: sct_register_multimodal, documentation

#4110 Silence unnecessary "overwriting" messages when updating output image header
  spinalcordtoolbox/scripts/sct_propseg.py
Labels: enhancement, sct_propseg

#4114 Ensure CI avoids older ReadTheDocs docker images to address OpenSSL mismatch
  .readthedocs.yml
Labels: upstream, CI

#4109 Selectively display `relpath` or `abspath` in viewer syntax based on CWD
  spinalcordtoolbox/utils/fs.py
  spinalcordtoolbox/utils/shell.py
Labels: enhancement, API: utils.py

#4115 Delete `create_test_data.py` and move `dummy_` functions into their respective test files
  spinalcordtoolbox/testing/create_test_data.py
  testing/api/test_centerline.py
  testing/api/test_deepseg_sc.py
  testing/api/test_math.py
  testing/api/test_process_seg.py
Labels: tests, refactoring, API: testing

#3444 Add new `-histo` option to warp the newly-added PAM50 histology files
  spinalcordtoolbox/download.py
  spinalcordtoolbox/scripts/sct_warp_template.py
  testing/cli/test_cli_sct_warp_template.py
Labels: feature, sct_warp_template

#4102 Add sagittal mosaic QC and use it for `sct_deepseg_lesion` QC report
  spinalcordtoolbox/cropping.py
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/reports/slice.py
  spinalcordtoolbox/scripts/sct_qc.py
Labels: sct_qc

#4121 Test standalone installations via `tests.yml`, but only on the `master` branch
  .ci.sh
  .github/workflows/tests.yml
  install_sct
  install_sct.bat
Labels: CI

#4124 Use `importlib.metadata` to fetch list of scripts instead of `pkg_resources`
  testing/cli/test_cli.py
Labels: bug, tests, upstream

#4112 Allow lesion volume calculation without providing SC seg
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
  testing/cli/test_cli_sct_analyze_lesion.py
Labels: sct_analyze_lesion

#4127 Add warning filters for upstream `pkg_resources` warnings
  setup.cfg
Labels: tests, upstream, CI

#4129 Remove unused QC report assets
  spinalcordtoolbox/reports/assets/_assets/css/bootstrap-theme.min.css
  spinalcordtoolbox/reports/assets/_assets/css/select2.min.css
  spinalcordtoolbox/reports/assets/_assets/images/Sorting icons.psd
  spinalcordtoolbox/reports/assets/_assets/images/favicon.ico
  spinalcordtoolbox/reports/assets/_assets/images/sort_asc.png
  spinalcordtoolbox/reports/assets/_assets/images/sort_asc_disabled.png
  spinalcordtoolbox/reports/assets/_assets/images/sort_both.png
  spinalcordtoolbox/reports/assets/_assets/images/sort_desc.png
  spinalcordtoolbox/reports/assets/_assets/images/sort_desc_disabled.png
  spinalcordtoolbox/reports/assets/_assets/imgs/axial.png
  spinalcordtoolbox/reports/assets/_assets/imgs/sagittal.png
  spinalcordtoolbox/reports/assets/_assets/js/animation.js
  spinalcordtoolbox/reports/assets/_assets/js/select2.min.js
Labels: refactoring, API: reports
