Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2023-10, with the labels that each got.

#4235 Update model releases (`lumbar_seg`, `t2star_sc`) to fix output suffix (`_seg-manual` -> `_seg`)
  spinalcordtoolbox/deepseg/models.py
Labels: enhancement, sct_deepseg, API: deepseg

#4162 Add tutorial for `sct_compute_compression` in documentation
  documentation/source/conf.py
  documentation/source/user_section/tutorials.rst
  documentation/source/user_section/tutorials/registration-to-template.rst
  documentation/source/user_section/tutorials/registration-to-template/shape-metric-computation/csa-averaged.rst
  documentation/source/user_section/tutorials/registration-to-template/shape-metric-computation/csa-perlevel.rst
  documentation/source/user_section/tutorials/registration-to-template/shape-metric-computation/csa-perslice.rst
  documentation/source/user_section/tutorials/registration-to-template/shape-metric-computation/csa-pmj.rst
  documentation/source/user_section/tutorials/shape-analysis.rst
  documentation/source/user_section/tutorials/shape-analysis/compute-csa-and-other-shape-metrics.rst
  documentation/source/user_section/tutorials/shape-analysis/compute-csa-and-other-shape-metrics/angle-ap-rl.csv
  documentation/source/user_section/tutorials/shape-analysis/compute-csa-and-other-shape-metrics/before-starting.rst
  documentation/source/user_section/tutorials/shape-analysis/compute-csa-and-other-shape-metrics/cross-sectional-area.rst
  documentation/source/user_section/tutorials/shape-analysis/compute-csa-and-other-shape-metrics/csa_c3c4.csv
  documentation/source/user_section/tutorials/shape-analysis/compute-csa-and-other-shape-metrics/csa_perlevel.csv
  documentation/source/user_section/tutorials/shape-analysis/compute-csa-and-other-shape-metrics/csa_perslice.csv
  documentation/source/user_section/tutorials/shape-analysis/compute-csa-and-other-shape-metrics/csa_pmj.csv
  documentation/source/user_section/tutorials/shape-analysis/compute-csa-and-other-shape-metrics/other-shape-metrics-1.csv
  documentation/source/user_section/tutorials/shape-analysis/compute-csa-and-other-shape-metrics/other-shape-metrics-2.csv
  documentation/source/user_section/tutorials/shape-analysis/compute-csa-and-other-shape-metrics/other-shape-metrics.rst
  documentation/source/user_section/tutorials/shape-analysis/compute-csa-and-other-shape-metrics/verify-correctness.rst
  documentation/source/user_section/tutorials/shape-analysis/normalize-morphometrics-compression.rst
  documentation/source/user_section/tutorials/shape-analysis/normalizing-morphometrics-compressions/ap_ratio.csv
  documentation/source/user_section/tutorials/shape-analysis/normalizing-morphometrics-compressions/ap_ratio_norm_PAM50.csv
  documentation/source/user_section/tutorials/shape-analysis/normalizing-morphometrics-compressions/before-starting.rst
  documentation/source/user_section/tutorials/shape-analysis/normalizing-morphometrics-compressions/generate-necessary-inputs.rst
  documentation/source/user_section/tutorials/shape-analysis/normalizing-morphometrics-compressions/normalization-pipeline.rst
  documentation/source/user_section/tutorials/shape-analysis/normalizing-morphometrics-compressions/normalize-morphometrics.rst
Labels: documentation, sct_compute_compression

#4233 Avoid duplicate orthogonal labels during registration by checking existing labels first
  spinalcordtoolbox/registration/labeling.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
Labels: bug, sct_register_to_template, API: labels.py

#4252 Remove `-s` functionality and add a deprecation warning
  batch_processing.sh
  spinalcordtoolbox/scripts/sct_warp_template.py
  testing/cli/test_cli_sct_warp_template.py
Labels: sct_warp_template, documentation, maintenance

#4261 Disable PDF and EPUB documentation builds
  .readthedocs.yaml
Labels: documentation

#4259 Add references for PAM50 normalized metrics
  spinalcordtoolbox/scripts/sct_compute_compression.py
  spinalcordtoolbox/scripts/sct_process_segmentation.py
Labels: sct_process_segmentation, documentation, sct_compute_compression

#4249 Update documentation for new spinal levels
  documentation/source/overview/concepts/info_label-spinal_levels.txt
  documentation/source/overview/concepts/info_label-template.txt
  documentation/source/overview/concepts/pam50.rst
Labels: documentation

#4250 Add tutorial for lumbar segmentation and registration
  documentation/source/conf.py
  documentation/source/user_section/tutorials.rst
  documentation/source/user_section/tutorials/registration-to-template.rst
  documentation/source/user_section/tutorials/registration-to-template/lumbar-registration.rst
  documentation/source/user_section/tutorials/registration-to-template/lumbar-registration/before-starting.rst
  documentation/source/user_section/tutorials/registration-to-template/lumbar-registration/labeling.rst
  documentation/source/user_section/tutorials/registration-to-template/lumbar-registration/lumbar-segmentation.rst
  documentation/source/user_section/tutorials/registration-to-template/lumbar-registration/template-registration.rst
  spinalcordtoolbox/download.py
Labels: sct_register_to_template, documentation, sct_deepseg
