Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2023-07, with the labels that each got.

#4151 Fix errors in the list of available QC processes (`index.html`, `sct_qc.py`)
  spinalcordtoolbox/reports/assets/index.html
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/scripts/sct_image.py
  spinalcordtoolbox/scripts/sct_qc.py
Labels: bug, sct_qc

#4003 Add new CLI script to compute normalized metric ratios (MSCC, etc.) for compressed levels
  documentation/source/user_section/command-line.rst
  install_sct
  install_sct.bat
  setup.py
  spinalcordtoolbox/download.py
  spinalcordtoolbox/scripts/sct_compute_compression.py
  spinalcordtoolbox/scripts/sct_compute_mscc.py
  testing/cli/test_cli_sct_compute_compression.py
  testing/cli/test_cli_sct_compute_mscc.py
Labels: feature, sct_compute_compression

#4150 Make sure that `$SCT_DIR` is set for both Windows installations and `batch_processing.sh`
  .github/workflows/test-batch-processing.yml
  batch_processing.sh
  install_sct.bat
  spinalcordtoolbox/scripts/sct_run_batch.py
Labels: installation, batch_processing.sh, OS: Windows (native)

#4154 Clarify documentation for `compute_vertebral_distribution`
  spinalcordtoolbox/types.py
Labels: documentation, API: centerline

#4156 Ensure that the `straightening.cache` file is output to the PWD during template registration
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
  testing/cli/test_cli_sct_label_vertebrae.py
  testing/cli/test_cli_sct_register_to_template.py
Labels: bug, sct_register_to_template

#4157 Swap order of `sct_image -stitch` QC images to fix incorrect YML path
  spinalcordtoolbox/scripts/sct_image.py
Labels: bug, sct_image

#4060 Update installation docs for Windows (Miniconda) and Linux/macOS (standalone installer)
  documentation/source/user_section/installation/linux.rst
  documentation/source/user_section/installation/mac.rst
  documentation/source/user_section/installation/windows.rst
Labels: documentation

#4165 Update changelog PR workflow to fix milestone title error and to also change `version.txt`
  .github/workflows/automate-changelog-PR.yml
  .github/workflows/create-release.yml
Labels: CI

#4170 Remove parent parts from `fname_out` to fix buggy `-o` behavior
  spinalcordtoolbox/scripts/sct_propseg.py
Labels: bug, sct_propseg
