Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2023-02, with the labels that each got.

#4016 Faithfully display `sct_qc` arguments, rather than making a fake command
  spinalcordtoolbox/scripts/sct_qc.py
Labels: bug, sct_qc

#4001 Update `version.txt` on master branch during release workflow
  .github/workflows/create-release.yml
Labels: installation

#4021 Use `filters.rank` instead of `dilate`/`erode` for `uint8`/`uint16` images
  spinalcordtoolbox/math.py
Labels: enhancement, sct_maths, API: math.py

#3977 Bring metrics in PAM50 anatomical dimensions in `sct_process_segmentation`
  batch_processing.sh
  spinalcordtoolbox/download.py
  spinalcordtoolbox/image.py
  spinalcordtoolbox/metrics_to_PAM50.py
  spinalcordtoolbox/scripts/sct_process_segmentation.py
  testing/batch_processing/cached_results/t2/csa_pam50.csv
  testing/batch_processing/test_batch_processing.py
  testing/cli/test_cli_sct_process_segmentation.py
Labels: sct_process_segmentation, feature

#4031 Remove `round_and_clip` function from `centerline/core.py`
  spinalcordtoolbox/centerline/core.py
  testing/api/test_centerline.py
Labels: refactoring, API: centerline

#4028 Add `-dilate` option to enable cropping around a spinal cord segmentation
  spinalcordtoolbox/cropping.py
  spinalcordtoolbox/scripts/sct_crop_image.py
  spinalcordtoolbox/utils/shell.py
  testing/cli/test_cli_sct_crop_image.py
Labels: feature, sct_crop_image, API: cropping.py

#4041 Fix flake8 lints
  spinalcordtoolbox/centerline/nurbs.py
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/download.py
  spinalcordtoolbox/image.py
  spinalcordtoolbox/labels.py
  spinalcordtoolbox/math.py
  spinalcordtoolbox/moco.py
  spinalcordtoolbox/registration/algorithms.py
  spinalcordtoolbox/registration/landmarks.py
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
  spinalcordtoolbox/scripts/sct_analyze_texture.py
  spinalcordtoolbox/scripts/sct_compute_ernst_angle.py
  spinalcordtoolbox/scripts/sct_compute_hausdorff_distance.py
  spinalcordtoolbox/scripts/sct_denoising_onlm.py
  spinalcordtoolbox/scripts/sct_dmri_display_bvecs.py
  spinalcordtoolbox/scripts/sct_dmri_moco.py
  spinalcordtoolbox/scripts/sct_image.py
  spinalcordtoolbox/scripts/sct_label_utils.py
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  spinalcordtoolbox/scripts/sct_maths.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
  spinalcordtoolbox/scripts/sct_smooth_spinalcord.py
  spinalcordtoolbox/scripts/sct_straighten_spinalcord.py
  spinalcordtoolbox/scripts/sct_warp_template.py
  spinalcordtoolbox/straightening.py
  spinalcordtoolbox/types.py
  spinalcordtoolbox/utils/fs.py
  spinalcordtoolbox/utils/sys.py
Labels: refactoring

#4026 Add `-centerline-soft` option to output a non-binary "soft" centerline
  batch_processing.sh
  spinalcordtoolbox/centerline/core.py
  spinalcordtoolbox/scripts/sct_get_centerline.py
  testing/cli/test_cli_sct_get_centerline.py
Labels: feature, sct_get_centerline

#4048 Catch errors from outdated `wxpython` versions bundled with FSL, then suggest a solution
  contrib/fsl_integration/sct_plugin.py
  documentation/source/user_section/fsleyes.rst
Labels: bug, upstream, sct_plugin.py (FSLeyes)

#4053 Add `-qc-dataset` and `-qc-subject` flags to `sct_detect_pmj.py`
  spinalcordtoolbox/scripts/sct_detect_pmj.py
Labels: sct_detect_pmj

#4049 Allow `install_sct` to be run standalone (without downloading "Source code" archive)
  install_sct
Labels: installation
