Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2023-04, with the labels that each got.

#4080 Add new `project_centerline` option in `sct_label_utils` to project an image on the spinal cord centerline
  spinalcordtoolbox/labels.py
  spinalcordtoolbox/scripts/sct_label_utils.py
  testing/cli/test_cli_sct_label_utils.py
Labels: sct_label_utils, feature, API: labels.py

#4081 Update `-mm` and `-ref` argument descriptions, fix `parse.error` logic, and add tests
  spinalcordtoolbox/scripts/sct_resample.py
  testing/cli/test_cli_sct_resample.py
Labels: bug, sct_resample

#4072 Update `labelize_from_discs()` to add level labels above the top disc and below the bottom disc
  spinalcordtoolbox/labels.py
Labels: enhancement, sct_label_utils, API: labels.py

#4088 List resampled labels in order
  spinalcordtoolbox/registration/labeling.py
Labels: feature, API: registration

#4089 Make matplotlib less verbose
  spinalcordtoolbox/utils/sys.py
Labels: bug, API: utils.py

#4092 Rename FSLeyes script from `sct_plugin.py` to `sct_fsleyes_script.py`
  contrib/fsl_integration/README.md
  contrib/fsl_integration/sct_fsleyes_script.py
  documentation/source/user_section/fsleyes.rst
Labels: sct_plugin.py (FSLeyes), refactoring

#4091 Remove all 70,000+ warnings from test suite
  requirements.txt
  setup.cfg
  spinalcordtoolbox/centerline/nurbs.py
  spinalcordtoolbox/deepseg_/gm.py
  spinalcordtoolbox/deepseg_/lesion.py
  spinalcordtoolbox/deepseg_/postprocessing.py
  spinalcordtoolbox/deepseg_/sc.py
  spinalcordtoolbox/image.py
  spinalcordtoolbox/labels.py
  spinalcordtoolbox/math.py
  spinalcordtoolbox/process_seg.py
  spinalcordtoolbox/registration/algorithms.py
  spinalcordtoolbox/registration/landmarks.py
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/reports/slice.py
  spinalcordtoolbox/resampling.py
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
  spinalcordtoolbox/scripts/sct_compute_hausdorff_distance.py
  spinalcordtoolbox/scripts/sct_create_mask.py
  spinalcordtoolbox/scripts/sct_denoising_onlm.py
  spinalcordtoolbox/scripts/sct_detect_pmj.py
  spinalcordtoolbox/scripts/sct_propseg.py
  spinalcordtoolbox/testing/create_test_data.py
  spinalcordtoolbox/vertebrae/core.py
  spinalcordtoolbox/vertebrae/detect_c2c3.py
  testing/api/test_aggregate_slicewise.py
  testing/api/test_image.py
  testing/api/test_labels.py
  testing/api/test_qmri.py
  testing/api/test_resampling.py
  testing/api/test_transfo.py
  testing/cli/test_cli_sct_compute_snr.py
  testing/cli/test_sct_deepseg.py
Labels: tests, CI

#4093 Fix broken `tqdm` behavior for Windows and older Unix platforms
  spinalcordtoolbox/download.py
  spinalcordtoolbox/moco.py
  spinalcordtoolbox/process_seg.py
  spinalcordtoolbox/registration/algorithms.py
  spinalcordtoolbox/scripts/sct_process_segmentation.py
  spinalcordtoolbox/utils/sys.py
Labels: enhancement, API: utils.py

#4098 Refactor `find_and_sort_coord`
  spinalcordtoolbox/centerline/core.py
Labels: refactoring, API: centerline

#4103 Remove Sentry code
  install_sct
  requirements.txt
  spinalcordtoolbox/utils/sys.py
Labels: installation, API: utils.py

#4094 Use `sct_progress_bar` for `algo=columnwise` and `register2d` slicewise loops
  spinalcordtoolbox/registration/algorithms.py
Labels: enhancement, API: registration

#4095 Replace `algo=rigid` with `algo=slicereg` for mt0-mt1 registration
  batch_processing.sh
  testing/batch_processing/cached_results/mt/mtr_in_wm.csv
Labels: enhancement, batch_processing.sh

#4107 Update outdated GitHub Actions to versions that use Node.js 16
  .github/workflows/automate-changelog-PR.yml
  .github/workflows/check-code-quality.yml
  .github/workflows/create-release.yml
  .github/workflows/generate-sidebar.yml
  .github/workflows/test-batch-processing.yml
  .github/workflows/tests.yml
Labels: upstream, CI

#4106 Fix Debian 9 CI failures by adding `archive` links to `/etc/apt/sources.list`
  .github/workflows/tests.yml
Labels: tests, upstream, CI

#4108 Fix buggy `-create-viewer` behavior on initialization (undo crash, blank checkboxes)
  spinalcordtoolbox/gui/sagittal.py
Labels: bug, sct_label_utils, API: gui
