Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2023-09, with the labels that each got.

#4211 Raise exception if sform/qform don't match during registation
  spinalcordtoolbox/scripts/sct_register_to_template.py
  testing/cli/test_cli_sct_register_to_template.py
Labels: bug, sct_register_to_template

#4206 Fix distorted registration due to straightening bug in `get_closest_to_absolute`
  spinalcordtoolbox/straightening.py
  spinalcordtoolbox/types.py
Labels: bug, API: straightening.py

#4207 `sct_analyze_lesion` - add function to compute axial damage ratio + minor improvements
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
  testing/cli/test_cli_sct_analyze_lesion.py
Labels: sct_analyze_lesion

#4218 Add start date information to the logs
  spinalcordtoolbox/scripts/sct_run_batch.py
Labels: feature, sct_run_batch

#4221 Fix `ValueError` by passing a tuple to `color=` instead of a numpy array
  spinalcordtoolbox/scripts/sct_dmri_display_bvecs.py
Labels: bug, upstream, sct_dmri_display_bvecs

#4219 Simplify lesion volume computation
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
Labels: sct_analyze_lesion, refactoring

#4226 Temporarily pin `onnxruntime` to <1.16
  requirements.txt
Labels: bug, upstream

#4232 Avoid `dipy` versions 1.6.0 + 1.7.0 that contain a `method=restore` bug
  requirements.txt
Labels: bug, sct_dmri_compute_dti
