Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2023-08, with the labels that each got.

#4172 Use pandas for `.csv` saving to correctly merge existing output metric columns
  spinalcordtoolbox/scripts/sct_compute_compression.py
  testing/cli/test_cli_sct_compute_compression.py
Labels: bug, sct_compute_compression

#4175 Improvements of CLI output printed by the `sct_compute_compression`
  spinalcordtoolbox/scripts/sct_compute_compression.py
Labels: enhancement, sct_compute_compression

#4176 Use the `pandas.DataFrame.combine_first` method
  spinalcordtoolbox/scripts/sct_compute_compression.py
Labels: refactoring, sct_compute_compression

#4189 Gracefully handle infinity as well as NaN values in QC
  spinalcordtoolbox/reports/slice.py
Labels: bug, API: reports

#4192 Fix `IndexError` during straightening if `-dest` image is shorter than centerline image (`-s`)
  spinalcordtoolbox/types.py
Labels: bug, sct_straighten_spinalcord

#4194 Speed up `-remove-reference` by removing unnecessary iteration
  spinalcordtoolbox/labels.py
Labels: enhancement, sct_label_utils

#4201 Raise error if `sct_run_batch` config file has wrong suffix
  spinalcordtoolbox/scripts/sct_run_batch.py
Labels: sct_run_batch

#4200 Check whether the provided discfile is empty
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  spinalcordtoolbox/vertebrae/core.py
Labels: bug, sct_label_vertebrae

#4208 `sct_run_batch` - add note that `~` should not be used in paths passed using the `-script-args` arg
  spinalcordtoolbox/scripts/sct_run_batch.py
Labels: sct_run_batch
