Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2023-11, with the labels that each got.

#4279 Fix broken link
  documentation/source/user_section/tutorials/registration-to-template/lumbar-registration/template-registration.rst
Labels: documentation

#4281 Ensure that point label files are correctly interpolated during template warping
  spinalcordtoolbox/scripts/sct_warp_template.py
  testing/cli/test_cli_sct_warp_template.py
Labels: bug, sct_warp_template

#4285 Add `manual-correction` to `download.py` to make downloading easier for the SCT Course
  spinalcordtoolbox/download.py
Labels: feature, sct_download_data

#4292 Remove unused `Image.verbose` attribute
  spinalcordtoolbox/image.py
Labels: refactoring, API: image.py

#4296 Use the same Python version as SCT for linting
  .github/workflows/check-code-quality.yml
Labels: CI

#4294 Replace assertions with more appropriate errors
  spinalcordtoolbox/aggregate_slicewise.py
  spinalcordtoolbox/centerline/core.py
  spinalcordtoolbox/compat/launcher.py
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/deepseg_/postprocessing.py
  spinalcordtoolbox/image.py
  spinalcordtoolbox/math.py
  spinalcordtoolbox/reports/slice.py
  spinalcordtoolbox/scripts/sct_compute_hausdorff_distance.py
  spinalcordtoolbox/scripts/sct_image.py
  spinalcordtoolbox/scripts/sct_merge_images.py
  spinalcordtoolbox/scripts/sct_run_batch.py
Labels: refactoring

#4304 Add `exclude_list` example to YAML and JSON config files
  spinalcordtoolbox/scripts/sct_run_batch.py
Labels: sct_run_batch

#4300 Ensure reorientation is performed consistently before any resampling
  spinalcordtoolbox/scripts/sct_register_to_template.py
  testing/batch_processing/cached_results/dmri/fa_in_cst.csv
  testing/batch_processing/cached_results/mt/mtr_in_wm.csv
Labels: bug, sct_register_to_template

#4306 Apply missing B1 correction to `r1map` and `a` calculations to fix MTsat bug
  spinalcordtoolbox/qmri/mt.py
Labels: bug, sct_compute_mtsat

#4230 Convert integer images to floating point when resampling with linear interpolation
  spinalcordtoolbox/resampling.py
  testing/api/test_resampling.py
  testing/batch_processing/cached_results/dmri/fa_in_cst.csv
  testing/batch_processing/cached_results/mt/mtr_in_wm.csv
  testing/batch_processing/cached_results/t2/csa_c2c3.csv
  testing/batch_processing/cached_results/t2/csa_pam50.csv
  testing/batch_processing/cached_results/t2/csa_pmj.csv
  testing/batch_processing/cached_results/t2s/csa_gm.csv
  testing/batch_processing/cached_results/t2s/csa_wm.csv
Labels: feature, API: resampling.py
