Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2023-06, with the labels that each got.

#4131 Fix upper/lower TR bounds used when plotting Ernst angles (argument `-b`)
  spinalcordtoolbox/scripts/sct_compute_ernst_angle.py
Labels: bug, sct_compute_ernst_angle

#4126 Refactor `reports/qc.py`
  spinalcordtoolbox/reports/assets/_assets/css/style.css
  spinalcordtoolbox/reports/assets/_assets/js/main.js
  spinalcordtoolbox/reports/assets/index.html
  spinalcordtoolbox/reports/qc.py
  testing/api/test_reports.py
Labels: refactoring, API: reports

#4141 Encode emoji in utf-8
  CONTRIBUTING.rst
Labels: documentation

#4135 Ensure that qform/sform codes are preserved when generating segmentation
  spinalcordtoolbox/deepseg_/sc.py
  spinalcordtoolbox/resampling.py
  testing/cli/test_cli_sct_deepseg_sc.py
Labels: bug, sct_deepseg_sc

#4133 Ensure that sagittal images (and softsegs) are resampled correctly for lesion QC
  spinalcordtoolbox/reports/slice.py
Labels: bug, sct_qc, API: reports

#4143 `install_sct`: Use explicit paths to python/pip executables
  install_sct
  install_sct.bat
Labels: installation

#4144 `install_sct`: Install `libffi` from `conda-forge`, rather than `defaults`
  install_sct
Labels: installation
