Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2024-04, with the labels that each got.

#4414 Fix detection of PSIR images for QC resampling to avoid unnecessary thresholding
  spinalcordtoolbox/image.py
Labels: bug, sct_qc

#4416 Replace remaining usages of `nib.save()` with `Image.save()` to mitigate scaling issues
  spinalcordtoolbox/deepseg_/gm.py
  spinalcordtoolbox/deepseg_/sc.py
  spinalcordtoolbox/image.py
  spinalcordtoolbox/registration/algorithms.py
  spinalcordtoolbox/resampling.py
  spinalcordtoolbox/scripts/sct_apply_transfo.py
  spinalcordtoolbox/scripts/sct_denoising_onlm.py
  spinalcordtoolbox/scripts/sct_detect_pmj.py
  spinalcordtoolbox/scripts/sct_dmri_denoise_patch2self.py
  spinalcordtoolbox/scripts/sct_propseg.py
  spinalcordtoolbox/straightening.py
Labels: refactoring, API: image.py

#4288 Filter out color codes from log files
  spinalcordtoolbox/scripts/sct_run_batch.py
  spinalcordtoolbox/utils/csi_filter.py
  spinalcordtoolbox/utils/fs.py
Labels: bug, sct_run_batch

#4224 Restructure QC report code to use `create_qc_entry` context manager (plus 1 PoC: `multimodal`)
  spinalcordtoolbox/reports/qc2.py
  spinalcordtoolbox/scripts/sct_register_multimodal.py
Labels: refactoring, API: reports

#4428 Move most broken link checking to a daily job
  .github/workflows/check-broken-links.yml
  .github/workflows/check-code-quality.yml
Labels: CI

#4430 Fix broken link checker
  .github/workflows/check-broken-links.yml
  .github/workflows/check-code-quality.yml
Labels: CI

#4425 Update `sct_compute_compression` and `sct_process_segmentation` references
  .github/workflows/check-url.sh
  spinalcordtoolbox/scripts/sct_compute_compression.py
  spinalcordtoolbox/scripts/sct_process_segmentation.py
Labels: sct_process_segmentation, sct_compute_compression

#4429 Clarify argparse help for `-copy-header` option to provide caution about header/data mismatches
  spinalcordtoolbox/scripts/sct_image.py
Labels: documentation, sct_image

#4427 Keep CSS/JS/etc. assets up to date when QC report is regenerated with a newer version of SCT
  spinalcordtoolbox/reports/qc.py
Labels: bug, sct_qc

#4432 Update QC assets when saving the QC report
  spinalcordtoolbox/reports/qc2.py
Labels: bug, API: reports

#4433 Avoid nibabel crashes due to `int64` arrays by explicitly passing `dtype`/`header` to `Nifti1Image`
  spinalcordtoolbox/registration/algorithms.py
  spinalcordtoolbox/reports/slice.py
  spinalcordtoolbox/resampling.py
Labels: bug, sct_qc

#4418 Add links to 2024 review in prominent locations in documentation
  README.rst
  documentation/source/overview/introduction.rst
  documentation/source/user_section/getting-started.rst
Labels: documentation

#4448 Avoid `nnunetv2=={2.4.0,2.4.1}` to mitigate upstream bug for `predict_single_npy_array`
  requirements.txt
Labels: bug, upstream, sct_deepseg

#4449 Fix inaccurate line in docs regarding the method used for spinal level estimation (Frostell et al.)
  documentation/source/overview/concepts/pam50.rst
Labels: documentation

#4439 Isolate `index.html`-writing code into reusable script + replace `Lock` with Semaphore-based `mutex`
  spinalcordtoolbox/reports/assets/__init__.py
  spinalcordtoolbox/reports/assets/_assets/__init__.py
  spinalcordtoolbox/reports/assets/_assets/html/index.html
  spinalcordtoolbox/reports/assets/_assets/py/__init__.py
  spinalcordtoolbox/reports/assets/_assets/py/refresh_qc_entries.py
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/reports/qc2.py
  spinalcordtoolbox/utils/fs.py
  testing/api/test_reports.py
Labels: enhancement, sct_qc

#4421 Add (internal, semi-private) support for `sct_deepseg` GPU inference on Linux
  install_sct
  spinalcordtoolbox/deepseg/inference.py
  spinalcordtoolbox/deepseg/monai.py
  spinalcordtoolbox/deepseg/nnunet.py
  spinalcordtoolbox/scripts/sct_check_dependencies.py
  spinalcordtoolbox/scripts/sct_deepseg.py
Labels: feature, sct_deepseg

#4443 Add the canproco nnUNet model for MS lesion segmentation to sct_deepseg
  spinalcordtoolbox/deepseg/inference.py
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/scripts/sct_deepseg.py
Labels: feature, sct_deepseg

#4454 Adding the EPI spinal cord segmentation model to SCT
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/scripts/sct_deepseg.py
Labels: feature, sct_deepseg

#4401 Update documentation to describe changes to `moco_params.tsv` for SCT v6.3
  documentation/source/user_section/tutorials/diffusion-weighted-mri/motion-correction-for-dmri.rst
  documentation/source/user_section/tutorials/processing-fmri-data/motion-correction-for-fmri.rst
Labels: sct_dmri_moco, sct_fmri_moco, documentation

#4462 Update github action to Node.js 20
  .github/workflows/automate-changelog-PR.yml
Labels: CI

#4463 Replace `libglib2.0-0` with `t64` version to fix Debian Rolling Release test failure
  .github/workflows/tests.yml
Labels: CI
