Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2024-05, with the labels that each got.

#4469 Ignore case where user selects 'combine=1' with CombinedLabels
  spinalcordtoolbox/aggregate_slicewise.py
  spinalcordtoolbox/scripts/sct_extract_metric.py
Labels: bug, sct_extract_metric

#4302 New function to compute velocity from VENC sequence
  setup.py
  spinalcordtoolbox/download.py
  spinalcordtoolbox/qmri/flow.py
  spinalcordtoolbox/scripts/sct_compute_flow.py
  testing/cli/test_cli_sct_compute_flow.py
Labels: feature, SCT API: qmri, sct_compute_flow

#4473 Change `-install-task` arg to `-install`
  spinalcordtoolbox/scripts/sct_deepseg.py
Labels: enhancement, sct_deepseg

#4474 Run all tests in temporary directories (to preserve a clean copy of `sct_testing_data`)
  testing/cli/test_cli_sct_analyze_texture.py
  testing/cli/test_cli_sct_apply_transfo.py
  testing/cli/test_cli_sct_compute_compression.py
  testing/cli/test_cli_sct_compute_ernst_angle.py
  testing/cli/test_cli_sct_compute_hausdorff_distance.py
  testing/cli/test_cli_sct_compute_mtr.py
  testing/cli/test_cli_sct_concat_transfo.py
  testing/cli/test_cli_sct_convert.py
  testing/cli/test_cli_sct_create_mask.py
  testing/cli/test_cli_sct_crop_image.py
  testing/cli/test_cli_sct_deepseg_gm.py
  testing/cli/test_cli_sct_deepseg_lesion.py
  testing/cli/test_cli_sct_deepseg_sc.py
  testing/cli/test_cli_sct_denoising_onlm.py
  testing/cli/test_cli_sct_detect_pmj.py
  testing/cli/test_cli_sct_dice_coefficient.py
  testing/cli/test_cli_sct_dmri_compute_bvalue.py
  testing/cli/test_cli_sct_dmri_compute_dti.py
  testing/cli/test_cli_sct_dmri_concat_b0_and_dwi.py
  testing/cli/test_cli_sct_dmri_concat_bvals.py
  testing/cli/test_cli_sct_dmri_concat_bvecs.py
  testing/cli/test_cli_sct_dmri_moco.py
  testing/cli/test_cli_sct_dmri_separate_b0_and_dwi.py
  testing/cli/test_cli_sct_dmri_transpose_bvecs.py
  testing/cli/test_cli_sct_extract_metric.py
  testing/cli/test_cli_sct_flatten_sagittal.py
  testing/cli/test_cli_sct_fmri_compute_tsnr.py
  testing/cli/test_cli_sct_fmri_moco.py
  testing/cli/test_cli_sct_get_centerline.py
  testing/cli/test_cli_sct_image.py
  testing/cli/test_cli_sct_label_utils.py
  testing/cli/test_cli_sct_label_vertebrae.py
  testing/cli/test_cli_sct_maths.py
  testing/cli/test_cli_sct_merge_images.py
  testing/cli/test_cli_sct_process_segmentation.py
  testing/cli/test_cli_sct_propseg.py
  testing/cli/test_cli_sct_qc.py
  testing/cli/test_cli_sct_register_multimodal.py
  testing/cli/test_cli_sct_register_to_template.py
  testing/cli/test_cli_sct_resample.py
  testing/cli/test_cli_sct_smooth_spinalcord.py
  testing/cli/test_cli_sct_straighten_spinalcord.py
  testing/cli/test_cli_sct_warp_template.py
  testing/conftest.py
Labels: enhancement, tests

#4472 Fix small argparse bug when wrapping help text with whitespace-only lines
  spinalcordtoolbox/scripts/sct_compute_flow.py
  spinalcordtoolbox/utils/shell.py
Labels: bug, SCT API: utils.py

#4466 Track `sct_deepseg` model provenance with `source.json` (in model folder) and JSON sidecar (in output)
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/download.py
  spinalcordtoolbox/scripts/sct_deepseg.py
Labels: feature, sct_deepseg

#4479 Fix tiny sagittal mosaic QC Report for large images with many slices
  spinalcordtoolbox/reports/assets/_assets/css/style.css
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/reports/slice.py
  spinalcordtoolbox/scripts/sct_qc.py
Labels: bug, sct_qc

#4483 `sct_label_utils`: Clarify argument order for `-disc`
  spinalcordtoolbox/scripts/sct_label_utils.py
Labels: documentation

#4480 Make sure that `fname_out` is set properly for `fsleyes` command when `-o` is not passed
  spinalcordtoolbox/scripts/sct_apply_transfo.py
Labels: bug, sct_apply_transfo

#4486 Update url to slicer documentation
  documentation/source/overview/concepts/spaces-and-coordinates.rst
Labels: documentation

#4487 Skip empty slicegroups to avoid creating blank rows in output metric CSV file
  spinalcordtoolbox/aggregate_slicewise.py
  testing/cli/test_cli_sct_extract_metric.py
Labels: bug, sct_extract_metric, SCT API: aggregate_slicewise.py

#4496 Improve documentation of the `-f` argument to make the percentages clearer
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
  testing/cli/test_cli_sct_analyze_lesion.py
Labels: documentation, sct_analyze_lesion

#4498 Rewrite help for `-x label` to clarify the difference between single-voxel and multi-voxel labels
  spinalcordtoolbox/scripts/sct_apply_transfo.py
Labels: sct_apply_transfo, documentation
