Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2024-10, with the labels that each got.

#4640 Move "Labeling Conventions" page to "Concepts", while preserving tutorial using `.. include::` directive
  documentation/source/overview/concepts.rst
  documentation/source/overview/concepts/labeling-conventions.rst
  documentation/source/user_section/tutorials/vertebral-labeling/labeling-conventions.rst
Labels: documentation

#4638 Fix incorrectly lazy-loaded `dipy` imports
  contrib/tensorflow/lazy_loader.py
  spinalcordtoolbox/math.py
  testing/cli/test_cli_sct_maths.py
Labels: bug, sct_maths

#4629 Add spinal nerve rootlets segmentation tutorial
  documentation/source/conf.py
  documentation/source/user_section/tutorials.rst
  documentation/source/user_section/tutorials/spinal-nerve-rootlets-segmentation.rst
  documentation/source/user_section/tutorials/spinal-nerve-rootlets-segmentation/before-starting.rst
  documentation/source/user_section/tutorials/spinal-nerve-rootlets-segmentation/rootlets-segmentation.rst
Labels: documentation, sct_deepseg

#4646 Add clearer instructions to fix issue when $SCT_DIR isn't writeable during installation
  install_sct
Labels: bug

#4649 Be good netizens when checking broken links (HEAD request only, 30s retries, respect `Retry-All`)
  .github/workflows/check-url.sh
Labels: CI

#4651 Remove `/en/latest/` slugs from `spinalcordtoolbox.com` URLs
  README.rst
  spinalcordtoolbox/scripts/sct_extract_metric.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
Labels: documentation

#4657 Handle newly-broken links (retries, FSLWiki changes)
  .github/workflows/check-url.sh
  documentation/source/overview/concepts/inspecting-results-qc-fsleyes.rst
  documentation/source/overview/concepts/spaces-and-coordinates.rst
  documentation/source/overview/concepts/warping-fields.rst
  documentation/source/user_section/fsleyes.rst
  spinalcordtoolbox/scripts/sct_apply_transfo.py
  spinalcordtoolbox/scripts/sct_concat_transfo.py
Labels: documentation

#4660 Fix dtype mismatch error when mixing integers and floating point numbers
  spinalcordtoolbox/scripts/sct_maths.py
  testing/cli/test_cli_sct_maths.py
Labels: bug, sct_maths
