Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2024-08, with the labels that each got.

#4555 Fix `sct_deepseg` rootlets QC by improving the cropping, centering, and colormap
  spinalcordtoolbox/centerline/core.py
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/reports/qc2.py
Labels: enhancement, sct_deepseg, SCT API: reports

#4583 Update SCI model to SCIsegV2 and standardize on `nnUNetTrainer` folder structure
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/deepseg/nnunet.py
  spinalcordtoolbox/download.py
  testing/cli/test_sct_deepseg.py
Labels: enhancement, sct_deepseg

#4595 Fix crashing `sct_analyze_lesion` if there is no midsagittal lesion
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
Labels: sct_analyze_lesion

#4588 Add `-perslice` option (plus performance improvements to make it feasible)
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
Labels: feature, sct_analyze_lesion

#4596 Silence `pandas` warning by explicitly using `copy` to remove view/copy ambiguity
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
Labels: bug, sct_analyze_lesion

#4584 Support `CombinedLabels` from `info_label.txt` when computing lesion distributions with `-f`
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
Labels: feature, sct_analyze_lesion

#4600 Add `--use-pep517` to install scripts to silence warning
  install_sct
  install_sct.bat
Labels: installation

#4597 Fix slice numbering in `sct_analyze_lesion` QC and CLI output
  spinalcordtoolbox/image.py
  spinalcordtoolbox/reports/qc2.py
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
  testing/cli/test_cli_sct_analyze_lesion.py
Labels: bug, sct_analyze_lesion

#4603 Properly maintain verbose status for internal ANTs `run_proc` call (to silence logging for `-v 0`)
  spinalcordtoolbox/scripts/sct_apply_transfo.py
Labels: bug, sct_apply_transfo

#4605 Skip `-h` duration test on macOS CI runners due to sporadic runtimes
  testing/cli/test_cli.py
Labels: tests, CI

#4606 Add more intuitive feedback when no metrics can be extracted from input data
  spinalcordtoolbox/aggregate_slicewise.py
Labels: bug, sct_extract_metric

#4609 Swap x-axis in tissue bridges QC
  spinalcordtoolbox/reports/qc2.py
Labels: enhancement, sct_qc, sct_analyze_lesion
