Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2024-06, with the labels that each got.

#4510 Update contrast agnostic model to v2.4 (now improved for lumbar t2w + PSIR/STIR images)
  spinalcordtoolbox/deepseg/models.py
Labels: enhancement, sct_deepseg

#4511 Increase timeout of `mutex` to avoid `AlreadyLocked` errors with many concurrent processes
  spinalcordtoolbox/utils/fs.py
  testing/api/test_qc_parallel.py
Labels: bug, sct_qc, sct_run_batch

#4519 Indicate model version in "model is up to date" log message
  spinalcordtoolbox/deepseg/models.py
Labels: enhancement, sct_deepseg

#4514 Fix straightening transformations for images with "tilted" qform/sform
  spinalcordtoolbox/centerline/core.py
  spinalcordtoolbox/image.py
  spinalcordtoolbox/straightening.py
  spinalcordtoolbox/types.py
  testing/batch_processing/cached_results/dmri/fa_in_cst.csv
  testing/batch_processing/cached_results/mt/mtr_in_wm.csv
  testing/batch_processing/cached_results/t2/csa_c2c3.csv
  testing/batch_processing/cached_results/t2/csa_pam50.csv
  testing/batch_processing/cached_results/t2/csa_pmj.csv
  testing/batch_processing/cached_results/t2s/csa_gm.csv
  testing/batch_processing/cached_results/t2s/csa_wm.csv
Labels: bug, sct_straighten_spinalcord, SCT API: centerline, SCT API: image.py, SCT API: straightening.py, SCT API: types.py

#4525 Add `matplotlib-inline` backend for compatibility with Jupyter notebooks
  requirements.txt
  spinalcordtoolbox/scripts/sct_check_dependencies.py
Labels: bug

#4517 Update CentOS Stream 8 runner to work past EOL
  .github/workflows/check-url.sh
  .github/workflows/tests.yml
Labels: CI

#4482 Add postprocessing functionality for non-ivadomed models
  spinalcordtoolbox/deepseg/inference.py
  spinalcordtoolbox/math.py
  spinalcordtoolbox/scripts/sct_deepseg.py
  testing/cli/test_sct_deepseg.py
Labels: feature, sct_deepseg

#4529 Simplify calls to `np.einsum`
  spinalcordtoolbox/types.py
Labels: refactoring, SCT API: types.py

#4536 Restrict `numpy<2` to avoid upstream errors
  requirements.txt
Labels: installation, upstream

#4537 Include the SCT version in the straightening.cache
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
  spinalcordtoolbox/scripts/sct_smooth_spinalcord.py
  testing/api/test_utils_fs.py
  testing/api/test_utils_shell.py
Labels: bug, sct_register_to_template, sct_label_vertebrae, sct_smooth_spinalcord

#4541 Align the lock names for `qc.py` and `qc2.py`
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/reports/qc2.py
Labels: bug, sct_qc

#4533 Add rotation to landmark-based preregistration (`step=0`) during template registration
  spinalcordtoolbox/registration/labeling.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
  testing/batch_processing/cached_results/dmri/fa_in_cst.csv
  testing/batch_processing/cached_results/mt/mtr_in_wm.csv
  testing/cli/test_cli_sct_register_to_template.py
Labels: bug, sct_register_to_template

#4547 Add example command for `-p sct_detect_pmj`
  spinalcordtoolbox/scripts/sct_qc.py
Labels: sct_qc

#4508 Ensure that using `-thr 0` with the contrast agnostic model generates a useful softseg
  spinalcordtoolbox/deepseg/inference.py
  spinalcordtoolbox/deepseg/monai.py
  spinalcordtoolbox/scripts/sct_deepseg.py
  spinalcordtoolbox/utils/shell.py
  testing/cli/test_sct_deepseg.py
Labels: bug, sct_deepseg

#4484 Make `sct_download_data` errors non-fatal during installations of SCT
  install_sct
  install_sct.bat
  spinalcordtoolbox/download.py
  spinalcordtoolbox/scripts/sct_check_dependencies.py
  spinalcordtoolbox/scripts/sct_download_data.py
Labels: installation
