Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2024-07, with the labels that each got.

#4550 Clarify that `sct_label_utils -disc` does not involve orthogonal projection
  spinalcordtoolbox/scripts/sct_label_utils.py
Labels: sct_label_utils

#4559 Update redirected citation link
  documentation/source/user_section/citing_sct.rst
Labels: documentation

#4554 Replace `seg_ms_lesion_mp2rage` model with a nnUnet based model on `sct_deepseg`
  spinalcordtoolbox/deepseg/models.py
  testing/cli/test_sct_deepseg.py
Labels: enhancement, sct_deepseg

#4564 Avoid buggy version of `nnunetv2` that produces empty output predictions
  requirements.txt
Labels: bug, sct_deepseg

#4566 Adjust QC canvas size by physical resolution to avoid tiny QC with anisotropic T2* images
  spinalcordtoolbox/reports/qc.py
Labels: bug, sct_qc

#4561 Added T2w dog template
  spinalcordtoolbox/download.py
Labels: feature, sct_download_data

#4571 Set `norecursedirs` in `setup.cfg` to avoid pytest collecting tests from our dependencies within our `venv`
  setup.cfg
Labels: upstream, CI

#4557 Minor improvements
  spinalcordtoolbox/scripts/sct_maths.py
  spinalcordtoolbox/utils/shell.py
  testing/cli/test_cli_sct_maths.py
Labels: sct_maths, refactoring

#4485 Allow multiple `sct_maths` operations to be run sequentially on an image in one command
  spinalcordtoolbox/scripts/sct_maths.py
  spinalcordtoolbox/utils/shell.py
  testing/cli/test_cli_sct_maths.py
Labels: enhancement, sct_maths

#4546 Remove duplicate functions in `sct_deepseg` and `sct_register_to_template`
  spinalcordtoolbox/deepseg/inference.py
  spinalcordtoolbox/deepseg_/postprocessing.py
  spinalcordtoolbox/deepseg_/sc.py
  spinalcordtoolbox/math.py
  spinalcordtoolbox/scripts/sct_apply_transfo.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
  testing/batch_processing/cached_results/dmri/fa_in_cst.csv
  testing/batch_processing/cached_results/mt/mtr_in_wm.csv
Labels: sct_register_to_template, sct_deepseg_sc, sct_deepseg, refactoring

#4576 Set `edge` padding as default for contrast-agnostic monai model
  spinalcordtoolbox/deepseg/inference.py
  spinalcordtoolbox/deepseg/monai.py
Labels: enhancement, sct_deepseg

#4489 Automatically compute midsagittal tissue bridges
  spinalcordtoolbox/reports/qc2.py
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
  testing/cli/test_cli_sct_analyze_lesion.py
Labels: feature, sct_analyze_lesion

#4573 Rescale flattened values from `[-1.0, 1.0]` back to their original range and datatype
  spinalcordtoolbox/flattening.py
Labels: bug, sct_flatten_sagittal

#4580 Output ANTs syntax in moco functions for easier debugging
  spinalcordtoolbox/scripts/sct_dmri_moco.py
  spinalcordtoolbox/scripts/sct_fmri_moco.py
Labels: bug, sct_dmri_moco, sct_fmri_moco

#4499 Add `-volumewise` to process the individual 3D volumes of 4D input images
  spinalcordtoolbox/scripts/sct_maths.py
  testing/cli/test_cli_sct_maths.py
Labels: enhancement, sct_maths

#4585 Improve `sct_analyze_lesion` CLI help
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
Labels: sct_analyze_lesion

#4574 Refactor `qc.py` to use `create_qc_entry`
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/reports/qc2.py
  spinalcordtoolbox/reports/slice.py
  testing/api/test_reports.py
Labels: sct_qc, refactoring
