Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2024-01, with the labels that each got.

#4327 For `-normalize-PAM50` option, replace `FileNotFoundError` with `parser.error` so that the argparse help gets displayed
  spinalcordtoolbox/scripts/sct_process_segmentation.py
  testing/cli/test_cli_sct_process_segmentation.py
Labels: sct_process_segmentation

#4331 Update argparse descriptions to make it clear that the script can also be used to compute MCC
  spinalcordtoolbox/scripts/sct_compute_compression.py
Labels: documentation, sct_compute_compression

#4317 Save QC records to browser local storage
  .github/workflows/test-batch-processing.yml
  spinalcordtoolbox/reports/assets/_assets/js/main.js
  spinalcordtoolbox/reports/assets/index.html
Labels: feature, sct_qc

#4341 Update `sphinx` and `furo` while removing "Edit on GitHub" hack in the process
  documentation/source/_templates/page.html
  documentation/source/_templates/partials/edit-this-page.html
  documentation/source/_templates/partials/icons.html
  documentation/source/conf.py
  documentation/source/requirements.txt
  setup.py
Labels: documentation

#4326 `sct_compute_compression` - fix slice numbering in output CSV file
  documentation/source/user_section/tutorials/shape-analysis/normalizing-morphometrics-compressions/ap_ratio.csv
  documentation/source/user_section/tutorials/shape-analysis/normalizing-morphometrics-compressions/ap_ratio_norm_PAM50.csv
  spinalcordtoolbox/scripts/sct_compute_compression.py
Labels: bug, sct_compute_compression

#4346 Mitigate scaling issues (`0.999`) in both `sct_deepseg` and `sct_label_vertebrae`
  spinalcordtoolbox/deepseg/inference.py
  spinalcordtoolbox/scripts/sct_deepseg.py
  spinalcordtoolbox/vertebrae/core.py
Labels: bug, sct_label_vertebrae, sct_deepseg
