Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2024-11, with the labels that each got.

#4661 Update contrast agnostic model to r20241024 (improved for SCI and whole-spine T1/T2 images)
  spinalcordtoolbox/deepseg/inference.py
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/deepseg/monai.py
Labels: sct_deepseg

#4672 Fix the suffix of the rootlets model (`_seg` -> `_rootlets`) to prevent overwriting
  spinalcordtoolbox/deepseg/inference.py
Labels: bug, sct_deepseg

#4675 Bump oldest macOS version used by test runners (12 -> 13)
  .github/workflows/create-release.yml
  .github/workflows/test-batch-processing.yml
  .github/workflows/tests.yml
Labels: CI

#4676 Add example commands for the `-custom-url` arg
  spinalcordtoolbox/scripts/sct_deepseg.py
Labels: sct_deepseg

#4677 Update extension of lesion analysis spreadsheet from `.xls` to `.xlsx`
  documentation/source/user_section/tutorials/lesion-analysis/lesion-metrics.rst
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
  testing/cli/test_cli_sct_analyze_lesion.py
Labels: enhancement, sct_analyze_lesion

#4688 Skip `acvl_utils==0.2.1` due to buggy interaction with `nnunetv2`
  requirements.txt
Labels: bug, upstream, sct_deepseg

#4684 Add model gallery for current version of DeepSeg (`-task` syntax)
  documentation/source/user_section/command-line/deepseg/seg_exvivo_gm_wm_t2.rst
  documentation/source/user_section/command-line/deepseg/seg_gm_sc_7t_t2star.rst
  documentation/source/user_section/command-line/deepseg/seg_lumbar_sc_t2w.rst
  documentation/source/user_section/command-line/deepseg/seg_mice_gm.rst
  documentation/source/user_section/command-line/deepseg/seg_mice_sc.rst
  documentation/source/user_section/command-line/deepseg/seg_mouse_gm_wm_t1w.rst
  documentation/source/user_section/command-line/deepseg/seg_ms_lesion_mp2rage.rst
  documentation/source/user_section/command-line/deepseg/seg_ms_sc_mp2rage.rst
  documentation/source/user_section/command-line/deepseg/seg_sc_contrast_agnostic.rst
  documentation/source/user_section/command-line/deepseg/seg_sc_epi.rst
  documentation/source/user_section/command-line/deepseg/seg_sc_lesion_t2w_sci.rst
  documentation/source/user_section/command-line/deepseg/seg_sc_ms_lesion_stir_psir.rst
  documentation/source/user_section/command-line/deepseg/seg_spinal_rootlets_t2w.rst
  documentation/source/user_section/command-line/deepseg/seg_tumor_edema_cavity_t1_t2.rst
  documentation/source/user_section/command-line/deepseg/seg_tumor_t2.rst
  documentation/source/user_section/command-line/sct_deepseg.rst
Labels: documentation

#4680 Preserve integer dtype when warping an image using `NearestNeighbour` interpolation
  spinalcordtoolbox/scripts/sct_apply_transfo.py
  testing/cli/test_cli_sct_apply_transfo.py
Labels: enhancement, sct_apply_transfo

#4686 Add contrast-agnostic MS lesion segmentation model
  documentation/source/user_section/command-line/deepseg/seg_ms_lesion.rst
  documentation/source/user_section/command-line/sct_deepseg.rst
  spinalcordtoolbox/deepseg/inference.py
  spinalcordtoolbox/deepseg/models.py
  testing/cli/test_sct_deepseg.py
Labels: feature, sct_deepseg

#4699 Allow `nnunetv2>=2.5.1` due to bugfix for previous issue with `2.4.2`
  requirements.txt
Labels: installation, upstream

#4678 Apply minor documentation feedback from 2023 SCT course
  documentation/source/user_section/tutorials/registration-to-template/template-registration/customizing-registration.rst
  spinalcordtoolbox/centerline/nurbs.py
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/scripts/sct_deepseg.py
  spinalcordtoolbox/scripts/sct_register_multimodal.py
Labels: documentation

#4668 Use faster dilation algorithm when dilating "mostly zero" point label images (`-x label`)
  spinalcordtoolbox/math.py
  spinalcordtoolbox/scripts/sct_apply_transfo.py
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  spinalcordtoolbox/vertebrae/core.py
  testing/api/test_math.py
Labels: enhancement, sct_apply_transfo, sct_warp_template

#4687 Add canal segmentation model
  documentation/source/user_section/command-line/deepseg/canal_t2w.rst
  documentation/source/user_section/command-line/sct_deepseg.rst
  spinalcordtoolbox/deepseg/inference.py
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/deepseg_/postprocessing.py
  testing/api/test_deepseg_postprocessing.py
Labels: feature, sct_deepseg

#4706 Update `sct_course_data` URL to point to `SCT-Course-20241209`
  spinalcordtoolbox/download.py
Labels: enhancement, sct_download_data

#4707 Retire outdated DeepSeg models (`seg_sc_ms_lesion_stir_psir`, `ms_sc_mp2rage`)
  documentation/source/user_section/command-line/sct_deepseg.rst
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/scripts/sct_deepseg.py
Labels: documentation, sct_deepseg

#4708 Add `-qc-plane` flag to allow switching the QC view to `'Sagittal'`
  spinalcordtoolbox/reports/qc2.py
  spinalcordtoolbox/scripts/sct_deepseg.py
Labels: feature, sct_qc, sct_deepseg

#4690 Add totalspineseg to SCT
  documentation/source/user_section/command-line/deepseg/totalspineseg.rst
  documentation/source/user_section/command-line/sct_deepseg.rst
  requirements.txt
  spinalcordtoolbox/deepseg/inference.py
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/reports/qc2.py
  spinalcordtoolbox/scripts/sct_deepseg.py
  testing/cli/test_sct_deepseg.py
Labels: feature, sct_deepseg

#4719 Updated canal segmentation model url
  spinalcordtoolbox/deepseg/models.py
Labels: enhancement, sct_deepseg

#4720 Update warnings filter to properly filter `Private repos` warning from `requirements.parse`
  spinalcordtoolbox/scripts/sct_check_dependencies.py
Labels: bug, sct_check_dependencies

#4722 Fix rootlets QC for anisotropic images
  spinalcordtoolbox/reports/qc2.py
Labels: bug, sct_qc

#4726 provide torch device to totalspineseg
  spinalcordtoolbox/deepseg/inference.py
Labels: bug
