Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2024-12, with the labels that each got.

#4730 Make sure subtractions are signed and divisions are floating point
  spinalcordtoolbox/scripts/sct_maths.py
  testing/cli/test_cli_sct_maths.py
Labels: bug, sct_maths

#4733 Embed graph for cumulative citation totals
  documentation/source/overview/studies.rst
Labels: documentation

#4736 Fix orientation labels by properly swapping x/y radii rather than x/y coords
  spinalcordtoolbox/reports/qc2.py
Labels: bug, sct_qc

#4737 Fix softseg QC by using only a single transparency value (`alpha=1.0`)
  spinalcordtoolbox/reports/qc2.py
Labels: bug, sct_qc

#4732 Use different colormaps for subsequent segs when combined into 1 FSLeyes command
  spinalcordtoolbox/scripts/sct_warp_template.py
  spinalcordtoolbox/utils/shell.py
Labels: feature, sct_deepseg

#4739 Set header datatype when applying dtype fix for NearestNeighbours interpolation to avoid warnings in log
  spinalcordtoolbox/scripts/sct_apply_transfo.py
Labels: enhancement

#4742 Add missing binarization+thresholding step for segmentations in `sct_deepseg` QC
  spinalcordtoolbox/reports/qc2.py
Labels: bug, sct_qc, sct_deepseg

#4745 Revert breaking xform change, and instead temporarily skip `check_affines_match`-related crashes
  spinalcordtoolbox/image.py
  testing/api/test_image.py
  testing/batch_processing/cached_results/dmri/fa_in_cst.csv
  testing/batch_processing/cached_results/mt/mtr_in_wm.csv
  testing/batch_processing/cached_results/t2/csa_c2c3.csv
  testing/batch_processing/cached_results/t2/csa_pam50.csv
  testing/batch_processing/cached_results/t2/csa_pmj.csv
  testing/batch_processing/cached_results/t2s/csa_gm.csv
  testing/batch_processing/cached_results/t2s/csa_wm.csv
  testing/cli/test_cli_sct_register_to_template.py
Labels: bug, SCT API: image.py

#4753 Remove hardcoded `num_workers=8` and replace with `cpu_count()`-based value
  spinalcordtoolbox/deepseg/monai.py
Labels: bug, sct_deepseg

#4746 Removed count per year
  documentation/source/overview/studies.rst
Labels: documentation

#4723 Implement QC outlines for multi-valued segmentations
  spinalcordtoolbox/reports/qc2.py
Labels: bug, SCT API: reports
