Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2024-02, with the labels that each got.

#4359 Fix broken pip installer by forcing it to detect macOS 11 as `11.0` and not `10.16`
  install_sct
Labels: installation

#4361 Add examples to '-include-list' and '-exclude-list' flags
  spinalcordtoolbox/scripts/sct_run_batch.py
Labels: documentation, sct_run_batch

#4345 Integrate NNUnet/MONAI models into DeepSeg CLI (contrast-agnostic, SCI, rootlets, Zurich mouse)
  requirements.txt
  spinalcordtoolbox/deepseg/inference.py
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/deepseg/monai.py
  spinalcordtoolbox/deepseg/nnunet.py
  spinalcordtoolbox/download.py
  spinalcordtoolbox/image.py
  spinalcordtoolbox/reports/slice.py
  spinalcordtoolbox/scripts/sct_deepseg.py
  testing/cli/test_sct_deepseg.py
Labels: feature, sct_deepseg

#4369 Reverse spacings to match nnUNet's conventions
  spinalcordtoolbox/deepseg/inference.py
Labels: bug, API: deepseg

#4368 Document Rosetta 2 as a requirement for installation on Apple silicon (M1, M2, M3)
  documentation/source/user_section/installation/mac.rst
  install_sct
Labels: installation, documentation, OS: macOS

#4373 Update PAM50 link to include new `template/PAM50_rootlets.nii.gz` file
  spinalcordtoolbox/download.py
Labels: feature, sct_warp_template

#4355 Address test warnings by pinning `pyqt5-sip<12.13.0` and updating `setup.cfg` ignore entries (`pkg_resources`)
  requirements.txt
  setup.cfg
  spinalcordtoolbox/scripts/sct_check_dependencies.py
Labels: installation, maintenance

#4381 Rename `_gpu` input param to `_device` to match upstream breaking API change
  spinalcordtoolbox/deepseg/nnunet.py
Labels: sct_deepseg, refactoring

#4353 Update GitHub Actions versions (macOS runners, Windows runners, Node.js 16 actions -> 20)
  .github/workflows/automate-changelog-PR.yml
  .github/workflows/check-code-quality.yml
  .github/workflows/create-release.yml
  .github/workflows/generate-sidebar.yml
  .github/workflows/test-batch-processing.yml
  .github/workflows/tests.yml
Labels: CI

#4385 Fixed path to PAM50 in help example command
  spinalcordtoolbox/scripts/sct_extract_metric.py
Labels: sct_extract_metric, documentation
