Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2025-05, with the labels that each got.

#4892 Update report-ui to v0.1.1
  spinalcordtoolbox/reports/assets/index.html
  spinalcordtoolbox/reports/assets/js/datasets.js
Labels: bug, sct_qc

#4895 Update rootlets model to `r20250318`
  documentation/source/user_section/command-line/deepseg/rootlets.rst
  documentation/source/user_section/command-line/deepseg/rootlets_t2.rst
  documentation/source/user_section/command-line/sct_deepseg.rst
  documentation/source/user_section/tutorials/spinal-nerve-rootlets-segmentation/rootlets-segmentation.rst
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/download.py
  spinalcordtoolbox/reports/qc2.py
  spinalcordtoolbox/scripts/sct_deepseg.py
  testing/cli/test_sct_deepseg.py
Labels: sct_deepseg

#4889 Improve how scaling is applied to QC reports for `rootlets`/`totalspineseg`
  spinalcordtoolbox/reports/qc2.py
Labels: bug, sct_qc, sct_deepseg

#4898 Update `rootlets` model description wording
  spinalcordtoolbox/deepseg/models.py
Labels: sct_deepseg

#4901 Limit `onnx<1.16.2` to fix CI failures on Windows runners (Python 3.9)
  requirements.txt
  spinalcordtoolbox/scripts/sct_check_dependencies.py
Labels: installation, upstream

#4904 Retire our obsolete shim for `str.removesuffix`
  spinalcordtoolbox/scripts/sct_straighten_spinalcord.py
  spinalcordtoolbox/utils/shell.py
  spinalcordtoolbox/utils/sys.py
Labels: refactoring, SCT API: utils.py

#4857 Add Apptainer installation for use on HPC systems
  .github/workflows/check-broken-links.yml
  .github/workflows/check-code-quality.yml
  .github/workflows/check_url_blacklist.txt
  .github/workflows/create-release.yml
  .gitignore
  contrib/apptainer/README.md
  contrib/apptainer/bundle_for_release.sh
  contrib/apptainer/install_deepseg_task.sh
  contrib/apptainer/install_sct_containered.sh
  contrib/apptainer/sct.def
  contrib/apptainer/sct_model_install.def
  documentation/source/user_section/installation.rst
  documentation/source/user_section/installation/apptainer.rst
  documentation/source/user_section/installation/linux.rst
Labels: enhancement, installation, OS: Linux
