Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2025-09, with the labels that each got.

#5022 Fix logging message to correctly print voxel size in `centermassrot`
  spinalcordtoolbox/registration/algorithms.py
Labels: bug, sct_register_multimodal

#5010 Add tutorial for rootlets-based registration to template
  documentation/source/conf.py
  documentation/source/user_section/tutorials.rst
  documentation/source/user_section/tutorials/registration-to-template.rst
  documentation/source/user_section/tutorials/registration-to-template/rootlets-based-registration.rst
  documentation/source/user_section/tutorials/registration-to-template/rootlets-based-registration/applying-the-registration-algorithm.rst
  documentation/source/user_section/tutorials/registration-to-template/rootlets-based-registration/before-starting.rst
  documentation/source/user_section/tutorials/registration-to-template/rootlets-based-registration/rootlets-segmentation.rst
  documentation/source/user_section/tutorials/registration-to-template/rootlets-based-registration/sct_register_to_template.rst
  documentation/source/user_section/tutorials/spinal-nerve-rootlets-segmentation.rst
  documentation/source/user_section/tutorials/spinal-nerve-rootlets-segmentation/before-starting.rst
  spinalcordtoolbox/download.py
Labels: sct_register_to_template, documentation

#5031 Only create "detailed summary" test files in CI (and only when the directory exists)
  testing/conftest.py
Labels: bug, testing/*.py
