Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2025-06, with the labels that each got.

#4909 Filter out `Version` and `CodeURL` when diffing JSON sidecars
  .github/workflows/check-code-quality.yml
  testing/conftest.py
Labels: tests, CI

#4896 Update `sct_label_vertebrae -discfile` by removing straightening
  spinalcordtoolbox/labels.py
  spinalcordtoolbox/scripts/sct_label_utils.py
  spinalcordtoolbox/scripts/sct_label_vertebrae.py
  testing/api/test_labels.py
  testing/cli/test_cli_sct_label_vertebrae.py
Labels: enhancement, sct_label_vertebrae

#4925 Fix check for user's labels against template's labels by adopting `issubset`
  spinalcordtoolbox/scripts/sct_register_to_template.py
Labels: bug, sct_register_to_template

#4934 Update `-lrootlet` help to include ventral rootlets and Th1 level
  spinalcordtoolbox/scripts/sct_register_to_template.py
Labels: sct_register_to_template

#4927 Mask output of `sct_apply_transfo` when applying `-initwarp` during multimodal registration
  spinalcordtoolbox/registration/core.py
  spinalcordtoolbox/scripts/sct_apply_transfo.py
Labels: enhancement, sct_register_multimodal

#4942 Automatically reset the `stable` docs branch when creating a new release
  .github/workflows/create-release.yml
Labels: CI

#4940 Address new `DeprecationWarnings` thrown during `pytest` test suite
  setup.cfg
  spinalcordtoolbox/math.py
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
  testing/cli/test_cli.py
  testing/cli/test_cli_sct_deepseg_lesion.py
  testing/cli/test_cli_sct_deepseg_sc.py
  testing/cli/test_cli_sct_detect_compression.py
Labels: tests, upstream, CI

#4938 Expand `LazyLoader` usage to improve import times across scripts
  contrib/fslhd.py
  spinalcordtoolbox/deepseg/inference.py
  spinalcordtoolbox/deepseg_/gm.py
  spinalcordtoolbox/deepseg_/lesion.py
  spinalcordtoolbox/image.py
  spinalcordtoolbox/registration/algorithms.py
  spinalcordtoolbox/registration/landmarks.py
  spinalcordtoolbox/reports/qc2.py
  spinalcordtoolbox/reports/slice.py
  spinalcordtoolbox/resampling.py
  spinalcordtoolbox/scripts/sct_denoising_onlm.py
  spinalcordtoolbox/scripts/sct_detect_pmj.py
  spinalcordtoolbox/scripts/sct_dmri_denoise_patch2self.py
  spinalcordtoolbox/scripts/sct_image.py
  spinalcordtoolbox/scripts/sct_propseg.py
  spinalcordtoolbox/types.py
  spinalcordtoolbox/vertebrae/detect_c2c3.py
  testing/cli/test_cli.py
Labels: enhancement
