Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2025-04, with the labels that each got.

#4838 Replace `pyplot` usage in `qc.py` to address crashing in Jupyter notebooks
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/reports/qc2.py
  testing/conftest.py
Labels: bug, sct_qc

#4846 Update PAM50 normalized metrics URL to latest release (`r20250321`)
  spinalcordtoolbox/download.py
  spinalcordtoolbox/scripts/sct_compute_compression.py
  testing/cli/test_cli_sct_compute_compression.py
Labels: sct_download_data, sct_compute_compression

#4850 Fix slice indexing for `-angle-corr-centerline`
  spinalcordtoolbox/process_seg.py
Labels: bug, sct_process_segmentation

#4844 Add detailed time and memory profiling for CLI scripts
  .gitignore
  spinalcordtoolbox/scripts/sct_compute_snr.py
  spinalcordtoolbox/utils/profiling.py
  spinalcordtoolbox/utils/shell.py
  testing/api/test_utils_profiling.py
Labels: feature

#4622 Update `get_centerline` to ensure that output arrays match the orientation of the output centerline image
  spinalcordtoolbox/centerline/core.py
  spinalcordtoolbox/image.py
  spinalcordtoolbox/types.py
  testing/api/test_centerline.py
  testing/cli/test_cli_sct_process_segmentation.py
Labels: bug, sct_get_centerline

#4832 Add new contrast-agnostic `graymatter` model
  documentation/source/user_section/command-line/deepseg/graymatter.rst
  documentation/source/user_section/command-line/sct_deepseg.rst
  spinalcordtoolbox/deepseg/models.py
  testing/cli/test_sct_deepseg.py
Labels: feature, sct_deepseg

#4852 Improve `deepseg` usage and help in preparation for 7.0
  .gitignore
  README.rst
  batch_processing.sh
  documentation/source/user_section/citing_sct.rst
  documentation/source/user_section/command-line.rst
  documentation/source/user_section/command-line/all_tools.rst
  documentation/source/user_section/command-line/deepseg/gm_mouse_t1.rst
  documentation/source/user_section/command-line/deepseg/gm_sc_7t_t2star.rst
  documentation/source/user_section/command-line/deepseg/gm_wm_exvivo_t2.rst
  documentation/source/user_section/command-line/deepseg/gm_wm_mouse_t1.rst
  documentation/source/user_section/command-line/deepseg/lesion_ms.rst
  documentation/source/user_section/command-line/deepseg/lesion_ms_axial_t2.rst
  documentation/source/user_section/command-line/deepseg/lesion_ms_mp2rage.rst
  documentation/source/user_section/command-line/deepseg/lesion_sci_t2.rst
  documentation/source/user_section/command-line/deepseg/rootlets_t2.rst
  documentation/source/user_section/command-line/deepseg/sc_canal_t2.rst
  documentation/source/user_section/command-line/deepseg/sc_epi.rst
  documentation/source/user_section/command-line/deepseg/sc_lumbar_t2.rst
  documentation/source/user_section/command-line/deepseg/sc_mouse_t1.rst
  documentation/source/user_section/command-line/deepseg/sc_t2star.rst
  documentation/source/user_section/command-line/deepseg/seg_ms_sc_mp2rage.rst
  documentation/source/user_section/command-line/deepseg/seg_sc_ms_lesion_stir_psir.rst
  documentation/source/user_section/command-line/deepseg/spinalcord.rst
  documentation/source/user_section/command-line/deepseg/totalspineseg.rst
  documentation/source/user_section/command-line/deepseg/tumor_edema_cavity_t1_t2.rst
  documentation/source/user_section/command-line/deepseg/tumor_t2.rst
  documentation/source/user_section/command-line/sct_deepseg.rst
  documentation/source/user_section/command-line/sct_propseg.rst
  documentation/source/user_section/tutorials/other-features/spinalcord-smoothing.rst
  documentation/source/user_section/tutorials/registration-to-template/lumbar-registration/lumbar-segmentation.rst
  documentation/source/user_section/tutorials/segmentation/sct_deepseg-other-models.rst
  spinalcordtoolbox/deepseg/inference.py
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/scripts/sct_deepseg.py
  spinalcordtoolbox/scripts/sct_deepseg_lesion.py
  spinalcordtoolbox/scripts/sct_deepseg_sc.py
  spinalcordtoolbox/scripts/sct_propseg.py
  spinalcordtoolbox/scripts/sct_straighten_spinalcord.py
  testing/batch_processing/cached_results/dmri/fa_in_cst.csv
  testing/batch_processing/cached_results/mt/mtr_in_wm.csv
  testing/batch_processing/cached_results/t2/csa_c2c3.csv
  testing/batch_processing/cached_results/t2/csa_pam50.csv
  testing/batch_processing/cached_results/t2/csa_pmj.csv
  testing/batch_processing/cached_results/t2s/csa_gm.csv
  testing/batch_processing/cached_results/t2s/csa_wm.csv
  testing/batch_processing/test_batch_processing.py
  testing/cli/test_cli.py
  testing/cli/test_cli_sct_fmri_compute_tsnr.py
  testing/cli/test_sct_deepseg.py
Labels: enhancement, documentation

#4865 Update PAM50 release links to `r20250422` (ventral rootlets, Th1 level)
  spinalcordtoolbox/download.py
Labels: feature, sct_warp_template
