Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2025-01, with the labels that each got.

#4702 Interpolate mid-sagittal slices using two slices
  spinalcordtoolbox/reports/qc2.py
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
  testing/cli/test_cli_sct_analyze_lesion.py
Labels: enhancement, sct_analyze_lesion

#4763 Update `sct_deepseg` documentation and arg help
  documentation/source/user_section/command-line.rst
  documentation/source/user_section/tutorials/segmentation/sct_deepseg.rst
  spinalcordtoolbox/scripts/sct_deepseg.py
Labels: documentation, sct_deepseg

#4759 Improve how we track changes to SCT's outputs by exporting a summary of all output files
  .github/workflows/test-batch-processing.yml
  contrib/fslhd.py
  testing/conftest.py
Labels: tests, CI

#4647 Rootlets-informed registration to the template
  spinalcordtoolbox/download.py
  spinalcordtoolbox/math.py
  spinalcordtoolbox/registration/algorithms.py
  spinalcordtoolbox/registration/core.py
  spinalcordtoolbox/scripts/sct_maths.py
  spinalcordtoolbox/scripts/sct_register_to_template.py
  testing/cli/test_cli_sct_register_to_template.py
Labels: sct_register_to_template, feature

#4760 Add new CLI script to predict compression probability
  documentation/source/user_section/command-line.rst
  documentation/source/user_section/command-line/all_tools.rst
  documentation/source/user_section/command-line/index/segmentation-analysis.rst
  documentation/source/user_section/command-line/sct_detect_compression.rst
  setup.py
  spinalcordtoolbox/scripts/sct_detect_compression.py
  testing/cli/test_cli_sct_detect_compression.py
Labels: feature, sct_detect_compression

#4764 Add new column to QC report to rank images numerically from 0-9
  spinalcordtoolbox/reports/assets/_assets/html/index.html
  spinalcordtoolbox/reports/assets/_assets/imgs/0-9-icon.png
  spinalcordtoolbox/reports/assets/_assets/js/main.js
  spinalcordtoolbox/reports/qc2.py
Labels: feature, sct_qc, SCT API: reports

#4768 Change over to MiniForge as the package manager (from MiniConda prior)
  install_sct
  install_sct.bat
Labels: enhancement, installation, OS: Windows (native), OS: Linux, OS: macOS, install_sct.bat

#4761 Add new GitHub Actions workflow to test if old releases install without error
  .github/workflows/test-past-releases.yml
Labels: tests, CI

#4779 Ensure that `torch<2.6` requirement gets copied over to `requirements-freeze.txt`
  requirements.txt
Labels: installation, upstream
