Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2025-07, with the labels that each got.

#4945 Update `lesion_ms` DeepSeg model from `r20241101` to `r20250626` (ESMRMB 2025)
  requirements.txt
  spinalcordtoolbox/deepseg/models.py
Labels: enhancement, sct_deepseg

#4935 Validate `$SCT_DIR` for path-length issues (even for the default directory + non-interactive mode)
  install_sct
  install_sct.bat
Labels: installation

#4932 Prevent repeated slices during straightening by correctly zeroing out duplicate slices
  spinalcordtoolbox/scripts/sct_straighten_spinalcord.py
  spinalcordtoolbox/straightening.py
Labels: bug, sct_straighten_spinalcord, sct_register_to_template

#4981 Add slice number in QC report for sct_deepseg function
  spinalcordtoolbox/reports/qc.py
  spinalcordtoolbox/reports/qc2.py
Labels: enhancement, sct_qc

#4989 Remove hardcoded path to `D:\` drive for older Windows tests
  .github/workflows/test-past-releases.yml
Labels: CI, .git/ & .github/

#4966 Implement anisotropic dilation and erosion
  spinalcordtoolbox/math.py
  spinalcordtoolbox/scripts/sct_maths.py
Labels: feature, sct_maths, API: math.py

#4983 Make it easier to manually check QC reports produced by `pytest`
  .github/workflows/create-release.yml
  .github/workflows/tests.yml
  testing/api/test_qc_parallel.py
  testing/cli/test_cli_sct_analyze_lesion.py
  testing/cli/test_cli_sct_deepseg_gm.py
  testing/cli/test_cli_sct_deepseg_sc.py
  testing/cli/test_cli_sct_detect_pmj.py
  testing/cli/test_cli_sct_dmri_moco.py
  testing/cli/test_cli_sct_fmri_compute_tsnr.py
  testing/cli/test_cli_sct_fmri_moco.py
  testing/cli/test_cli_sct_get_centerline.py
  testing/cli/test_cli_sct_image.py
  testing/cli/test_cli_sct_label_utils.py
  testing/cli/test_cli_sct_label_vertebrae.py
  testing/cli/test_cli_sct_process_segmentation.py
  testing/cli/test_cli_sct_propseg.py
  testing/cli/test_cli_sct_register_multimodal.py
  testing/cli/test_cli_sct_register_to_template.py
  testing/cli/test_cli_sct_straighten_spinalcord.py
  testing/cli/test_cli_sct_warp_template.py
  testing/cli/test_sct_deepseg.py
  testing/conftest.py
Labels: testing/*.py, CI, ✅ 0: QC Reviewed

#4987 Fix failing CI runs for Arch (`rl_print_keybindings`) and Debian 10 (EOL)
  .github/workflows/tests.yml
  install_sct
  spinalcordtoolbox/compat/launcher.py
Labels: installation, upstream
