Repository spinalcordtoolbox/spinalcordtoolbox, pull requests merged in 2025-08, with the labels that each got.

#4933 Implement "tissue bridge ratio" metrics
  spinalcordtoolbox/reports/qc2.py
  spinalcordtoolbox/scripts/sct_analyze_lesion.py
  testing/cli/test_cli_sct_analyze_lesion.py
Labels: feature, sct_analyze_lesion

#5000 Disable false-positive shell check for `SC2329` in `install_sct`
  install_sct
Labels: CI, script: install_sct

#5002 Tag QC reports from automated tests with the OS used
  .github/workflows/tests.yml
Labels: CI

#4993 Tweak `totalspineseg` axial mosaic QC report to make it easier to read
  spinalcordtoolbox/reports/qc2.py
Labels: enhancement, sct_deepseg

#4948 Add flag `-discfile` to allow for determining `VertLevel` using projected disc labels
  spinalcordtoolbox/scripts/sct_process_segmentation.py
  testing/cli/test_cli_sct_process_segmentation.py
Labels: sct_process_segmentation, feature

#5001 Update and reorganize Docker installation instructions
  contrib/docker/Dockerfile
  contrib/docker/README.md
  documentation/source/user_section/installation.rst
  documentation/source/user_section/installation/apptainer.rst
  documentation/source/user_section/installation/docker.rst
  documentation/source/user_section/installation/linux.rst
  documentation/source/user_section/installation/mac.rst
  documentation/source/user_section/installation/windows.rst
  install_sct.bat
Labels: documentation

#4996 Use centerline of `-vertfile` for more accurate mapping of vert levels to `z` slices
  spinalcordtoolbox/scripts/sct_extract_metric.py
  testing/cli/test_cli_sct_extract_metric.py
Labels: enhancement, sct_extract_metric

#5008 Clean up argparse help to only display arguments and descriptions relevant to specific tasks
  spinalcordtoolbox/deepseg/models.py
  spinalcordtoolbox/scripts/sct_deepseg.py
Labels: documentation, sct_deepseg
